[2021-04-13 00:30] ryanmmmmm opened #1 "Sample Issue TEST"
**Pre-requisites**
A clear and concise description of what the bug is.

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected result**
A clear and concise description of what you expected to happen.

**Actual result**
The value being sent in the request is much larger, the UI doesn't return an error so the custom

[2021-04-13 00:39] LearnPolkadot opened #3 "Test Bug Chris"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-04-13 07:16] LearnPolkadot opened #5 "Data displayed after wallet disconnected"
**Describe the bug**
After disconnecting a wallet data is still being displayed on the screen in the UI though the message "We are unable to show you any data before you will connect your wallet to the app" is displayed and wallet is no longer connected. (see attached screenshot)

**To Reproduce**
Steps to reproduce the behavior:
1.	Disconnect wallet
Note: Tested with both CB & MM wallets

**Expec

[2021-04-13 07:18] LearnPolkadot opened #6 "Supply Market data displayed after withdrawing"
**Describe the bug**
Assets are still showing up in the supply market table after assets have been removed.

**To Reproduce**
Steps to reproduce the behavior:
1.	Supply Asset (ex. eRSDL)
2.	Withdrawal Asset max
3.	Asset still shows up in the Supply Market table

**Expected behavior**
Assets not being supplied to the Supply Market not to show up in the supply market table

**Screenshots**
attached

[2021-04-13 07:21] LearnPolkadot opened #7 "Asynchronous data"
**Describe the bug**
Currently on https://app.unfederalreserve.com/farms/eRSDL-ETH%20UNI-V2%20LP the data is asynchronous and automatically updates without the page being loaded.  Noticed none of the data on the Reserve Lending platform refreshes after an action nor does the Rewards updates as they do every block on the LP app.

**To Reproduce**
Steps to reproduce the behavior:
1. Complete a trans

[2021-04-13 07:22] LearnPolkadot opened #8 "Decimal data entry"
**Describe the bug**
When entering in amounts that start with a decimal a user must first enter a zero.  When testing habit to enter the decimal then amount and several times so far have almost entered the wrong amount.  Granted this is testing and in real life hopefully I would be paying more attention.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter a value that being with a (.) in t

[2021-04-13 07:24] LearnPolkadot opened #9 "Wording when wallet disconnected (SP error)"
**Is your feature request related to a problem? Please describe.**
When a wallet is disconnected the following message is displayed under Please connect wallet
"We are unable to show you any data before you will connect your wallet to the app".
Not quite sure this is even a sentence (not a grammar major).

**Describe the solution you'd like**
Change wording to.
Please connect a wallet
In order to

[2021-04-13 07:26] LearnPolkadot opened #10 "Tooltips for further explanation"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
It would be beneficial I think to add tooltips through the platform.  Even to a defi users these tips (further detailed explanation) would elevate several questions.  A few examples where they might be handy but isn’t limited to areas below.  #sharing_is_caring #each_one_teach_one

![image](

[2021-04-13 07:27] LearnPolkadot opened #11 "CSS on elements with white background"
**Is your feature request related to a problem? Please describe.**
1.	On all screens it is hard to read the light grey font (wallet, supply, borrow).
2.	My eyes are not drawn to anything (ie what I should be doing on this screens).

**Describe the solution you'd like**
1.	Change the font color to a darker color on every item that can be interacted with.  If an element, such as the withdrawal tab s

[2021-04-13 19:42] #1 closed

[2021-04-13 19:43] vladyslav2 commented on #7
Partially fixed during today deploy to stage

[2021-04-13 19:44] vladyslav2 commented on #8
Fixed, please confirm and close an issue

[2021-04-13 19:55] LearnPolkadot commented on #8
Tried testing on two Windows 10 devices using Brave (cleared cache).  Video attached still isn't allowing to start with decimal.

https://user-images.githubusercontent.com/71201055/114612729-7baae680-9c70-11eb-9619-78a9991a31ea.mp4

[2021-04-13 21:08] hskainth commented on #8
I have re-tested this on edge browser and verified fix works on there.

[2021-04-13 21:15] Jag1899 commented on #8
I've re-tested on Brave Browser (Version 1.22.71 Chromium: 89.0.4389.114 (Official Build) (64-bit)), Chrome (Version 92.0.4476.0 (Official Build) canary (64-bit)) and Firefox 88.0b9 (64-bit)

[2021-04-13 21:21] hskainth commented on #5
Internal issue #337 raised

[2021-04-13 21:23] LearnPolkadot commented on #8
Re-tested Windows 10 Pro - 20H2 Brave - Version 1.22.71 Chromium: 89.0.4389.114 (Official Build) (64-bit)

Fix is working

[2021-04-13 21:23] #8 closed

[2021-04-13 21:29] harveerenergy commented on #10
Internal issue #345 raised

[2021-04-13 21:29] harveerenergy commented on #11
Internal issue #346 raised

[2021-04-13 22:01] ReluctantHodler opened #13 "Multiple error messages displayed"
**Describe the bug**
Clicking the BORROW button when there's not enough liquidity produces an error. Continually clicking creates multiple error messages.

**To Reproduce**
Steps to reproduce the behavior:
1. Select YFI to borrow
2. Click the 80% link
3. Click the borrow button multiple times

**Expected behavior**
The error message displayed could be handled better, and/or don't enable the borrow

[2021-04-13 22:35] ReluctantHodler opened #14 "Fail with error 'Insufficient balance'"
**Describe the bug**
I borrowed 2500 USDT. I then attempted to pay back to 2500 immediately and even though I had the 2500 in my wallet I had just borrowed, an error was displayed in Metamask and the transaction failed - https://rinkeby.etherscan.io/tx/0xc847dd36ad0aba9655b5a8499ea5e6f2ac57d64a6e22d00eee292210a45ed6b6

**To Reproduce**
Steps to reproduce the behavior:
1. Borrow 2500 USDT
2. Immedi

[2021-04-13 22:39] ReluctantHodler commented on #14
Just went back in and noticed it's now showing the Currently Borrowing amount as 2500.00809 which is odd as I definitely only borrowed 2500 USDT

![Screenshot 2021-04-13 at 23 37 45](https://user-images.githubusercontent.com/82473057/114629951-6bffc200-9cb1-11eb-80fe-0ccb17f249da.png)

[2021-04-13 22:43] ReluctantHodler commented on #14
I then sourced some additional USDT from the Faucet so I had more than enough to pay off the borrowed amount. The repayment then worked perfectly, although was for more than my original borrowed amount of 2500 USDT.

https://rinkeby.etherscan.io/tx/0x2fbcb01f1930122d18924586f5c9a39d5a4398f7122c47bdef0bcf85c2bc7cab

Take a look that the Tokens Transferred though, doesn't match the amount repaid.

!

[2021-04-13 23:00] ReluctantHodler opened #15 "Insufficient Wallet Balance"
**Describe the bug**
When attempting to Supply total USDT balance from my wallet clicking the **Max** button truncates the value to 5 decimal places. The Wallet Balance is actually 999.990054 but as soon as you manually override the number you get the **_Insufficient Wallet Balance_** message displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Select USDT
2. Supply Max amount
3. Add a

[2021-04-13 23:10] ReluctantHodler opened #16 "Overpayment Attempt Allowed"
**Describe the bug**
I borrowed 2655.06469 USDC. I then tried to repay, but overpay. The UI allowed me to do this, however Metamask warned of an error. I was able to process confirm the transaction in Metamask which then resulted in a failure and error - https://rinkeby.etherscan.io/tx/0xb132eed5519450dd7908609b44b6562dbd2a686c08bbebdc31e485f016e69e57

**To Reproduce**
Steps to reproduce the behav

[2021-04-14 04:27] Jag1899 commented on #9
Internally raised #338

[2021-04-14 08:47] UnCzechReserve opened #17 "Wrong Favicon"
There is the wrong (default vue.js) favicon displayed instead of a custom unfed one.

![image](https://user-images.githubusercontent.com/82503926/114681742-ba8f7980-9d0e-11eb-9aed-18705c837ac3.png)

**_This has been fixed already with the update from yesterday. I still add it to the system for the records of Alpha testing results._**

[2021-04-14 08:48] UnCzechReserve commented on #17
This has been fixed already with the update from yesterday.

[2021-04-14 08:48] #17 closed

[2021-04-14 08:53] UnCzechReserve opened #18 "Missing security header: X-Frame-Options"
**URL	Evidence**
https://ledger-stage.unfederalreservetesting.com/	Response headers do not include the HTTP X-Frame-Options security header

**Details**
Risk description:
Because the X-Frame-Options header is not sent by the server, an attacker could embed this website into an iframe of a third party website. By manipulating the display attributes of the iframe, the attacker could trick the user i

[2021-04-14 08:54] UnCzechReserve opened #19 "Missing security header: X-XSS-Protection"
**URL	Evidence**
https://ledger-stage.unfederalreservetesting.com/	Response headers do not include the HTTP X-XSS-Protection security header

 **Details**
Risk description:
The X-XSS-Protection HTTP header instructs the browser to stop loading web pages when they detect reflected Cross-Site Scripting (XSS) attacks. Lack of this header exposes application users to XSS attacks in case the web applic

[2021-04-14 08:55] UnCzechReserve opened #20 "Missing security header: Referrer-Policy"
**URL	Evidence**
https://ledger-stage.unfederalreservetesting.com/	Response headers do not include the Referrer-Policy HTTP security header

**Details**
Risk description:
The Referrer-Policy HTTP header controls how much referrer information the browser will send with each request originated from the current web application.
For instance, if a user visits the web page "http://example.com/pricing/"

[2021-04-14 08:56] UnCzechReserve opened #21 "Missing security header: Content-Security-Policy"
**URL	Evidence**
https://ledger-stage.unfederalreservetesting.com/	Response headers do not include the HTTP Content-Security-Policy security header

**Details**
Risk description:
The Content-Security-Policy (CSP) header activates a protection mechanism implemented in web browsers which prevents exploitation of Cross-Site Scripting vulnerabilities (XSS). If the target application is vulnerable to X

[2021-04-14 08:58] UnCzechReserve opened #22 "Missing security header: X-Content-Type-Options"
**URL	Evidence**
https://ledger-stage.unfederalreservetesting.com/	Response headers do not include the X-Content-Type-Options HTTP security header

**Details**
Risk description:
The HTTP header `X-Content-Type-Options` is addressed to the Internet Explorer browser and prevents it from reinterpreting the content of a web page (MIME-sniffing) and thus overriding the value of the Content-Type header)

[2021-04-14 09:51] harv-singh commented on #16
@ReluctantHodler can you try this scenario again please? The latest release to staging contained a fix to show the user they cannot do this, see below:
![Screenshot 2021-04-14 at 10 50 24](https://user-images.githubusercontent.com/44998024/114691193-50c39f80-9d0f-11eb-9be0-f74bc148a007.png)
^ from https://ledger-stage.unfederalreservetesting.com/

[2021-04-14 09:55] harv-singh commented on #13
Internal issue #359 raised

[2021-04-14 10:12] ReluctantHodler commented on #16
Yes will check later today

[2021-04-14 10:32] harv-singh commented on #18
Internal issue #360 has been raised

[2021-04-14 10:34] harv-singh commented on #19
Internal issue #361 has been raised

[2021-04-14 10:35] harv-singh commented on #20
Internal issue #362 has been raised

[2021-04-14 10:36] harv-singh commented on #21
Internal issue #363 has been raised

[2021-04-14 10:37] harv-singh commented on #22
Internal issue #364 has been raised

[2021-04-14 12:22] harv-singh commented on #13
Confirmed with the developer this is expected behaviour as the UI does handle the error

[2021-04-14 12:27] harv-singh commented on #6
Hi @LearnPolkadot if you hover over the 0.00 balance a tool tip should show, what does this figure show?
Example
<img width="276" alt="Screenshot 2021-04-14 at 13 27 30" src="https://user-images.githubusercontent.com/44998024/114710047-31377180-9d25-11eb-93ce-709252382113.png">

[2021-04-14 14:09] harveerenergy commented on #15
Internal bug raised #365

[2021-04-14 15:09] LearnPolkadot commented on #6
Hello @harv-singh thanks for looking into this!   Attached is a screenshot that shows balance as requested ($0.00).  Also here is the address of the test account I am using if of any help 0xa1a955997A1827F93F6D124b57C411cFcFa3E769

![image](https://user-images.githubusercontent.com/71201055/114734011-d6484f00-9d11-11eb-8d6b-a4f7e956cede.png)

[2021-04-14 15:17] harv-singh commented on #6
Thanks, we have an existing bug raised for this #287

[2021-04-14 19:08] Jag1899 commented on #14
This additional .00809 is the interest added for borrowing the asset.

_The Borrow Rate — Borrowers owe the prevailing interest rate of the asset they are borrowing._

[2021-04-14 19:24] Jag1899 commented on #14
Please close

[2021-04-14 21:38] ReluctantHodler commented on #16
I can confirm this issue is fixed. :o)

[2021-04-14 21:38] #16 closed

[2021-04-14 21:41] ReluctantHodler commented on #14
Makes sense. Thanks for clarifying

[2021-04-14 21:41] #14 closed

[2021-04-14 21:41] ReluctantHodler commented on #13
Thanks for confirming I will close

[2021-04-14 21:41] #13 closed

[2021-04-14 22:07] ReluctantHodler opened #23 "When Adding Collateral"
**Is your feature request related to a problem? Please describe.**
When adding collateral for an asset the name displayed for eRSDL is the long token name.

![Screenshot 2021-04-14 at 23 02 35](https://user-images.githubusercontent.com/82473057/114786449-0a555b80-9d76-11eb-9239-2c4b31263639.png)

**Describe the solution you'd like**
It would be better if it was the token ticker symbol eRSDL instea

[2021-04-14 22:30] ReluctantHodler opened #24 "Display Rewards Breakdown"
**Is your feature request related to a problem? Please describe.**
The breakdown of rewards earned is not clear.

**Describe the solution you'd like**
It would be a great feature if we could see a breakdown of the rewards earned on the Supply and Borrow side. I'm assuming both rewards are just bundled into the Unclaimed Balance.

![Screenshot 2021-04-14 at 23 26 39](https://user-images.githubuserc

[2021-04-15 13:09] harv-singh commented on #24
Internal issue #375 raised

[2021-04-15 13:10] harv-singh commented on #23
Internal issue #374 raised

[2021-04-15 16:47] ReluctantHodler opened #25 "Compound Popup Close & Etherscan Link"
**Is your feature request related to a problem? Please describe.**
A suggestion picked up from discord.

Compound has the ability to close the transaction popup.  Compound has a little X in the top right. Also a link to Etherscan for any transaction.

<img width="521" alt="compoundX" src="https://user-images.githubusercontent.com/82473057/114907068-99b04c80-9e12-11eb-8cee-a4df8d049d97.png">

**Des

[2021-04-15 17:22] hskainth commented on #25
This is as per design for transaction pop up modals. Only error modals can be forced to close.

[2021-04-15 17:34] ReluctantHodler commented on #25
What about the transaction link to etherscan?

[2021-04-15 17:36] hskainth commented on #25
I will raise internally for etherscan link

[2021-04-15 17:50] hskainth commented on #25
Internal ticket #356 raised for etherscan link.

[2021-04-15 20:56] ReluctantHodler commented on #7
Does this cover this suggestion?

Suggestion to have the screen refresh after any 'dialog' is closed, as of now you need to manually refresh

[2021-04-16 11:40] UnCzechReserve opened #26 "Repaid all borrowed unETH but still shows up as borrowed 0.1"
**Describe the bug**
I borrowed ETH and repaid all (max). But afterwards it still shows I have 0.1 ETH borrowed but i also cant pay it back.

**To Reproduce**
Steps to reproduce the behavior:
1. borrow unETH (preferably over 80%)
2. pay it back via the max button
3. 0.1 unETH is still borrowed

**Expected behavior**
0.0 unETH would be borrowed. Also not solved after page refresh...

**Screenshots*

[2021-04-16 11:47] UnCzechReserve opened #27 "No liquidation event even when 100.2% borrowed"
**Describe the bug**
I borrowed 100% but cant seem to see the liquidation event happening.

**To Reproduce**
Steps to reproduce the behavior:
1. Borrow 100%

**Expected behavior**
A liquidation event would occur?

**Screenshots**
![image](https://user-images.githubusercontent.com/82503926/115019977-30841400-9eba-11eb-8ef0-b27aeb5024ac.png)

**Wallet Version (please complete the following informati

[2021-04-16 11:48] ReluctantHodler commented on #26
Have a look at this close ticket, it looks like the same thing I raised #14

[2021-04-16 12:16] ReluctantHodler opened #28 "Not enough tokens available on the market"
**Describe the bug**
Tried to borrow the max available YFI showing on the platform and it produced an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you have enough liquidity supplier
2. Try to borrow YFI
3. Enter the Available amount
4. See error

**Expected behavior**
I would expect to be able to borrow what the system is showing as available.

**Screenshots**

![Screensh

[2021-04-16 12:23] ReluctantHodler opened #29 "Clicking 80% Limit Link/Button it defaults to more than available"
**Describe the bug**
When you click the 80% Limit Link/Button it defaults to the max you are able to borrow rather than limiting the amount to what is actually available for the asset.

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure you have more liquidity provided than you need to borrow to available of an asset
2. Attempt to borrow an asset
3. Click 80% Limit link/button
4. See it d

[2021-04-16 12:35] UnCzechReserve commented on #27
![image](https://user-images.githubusercontent.com/82503926/115024917-041fc600-9ec1-11eb-8dc1-3bc84bd9da88.png)

[2021-04-16 12:44] UnCzechReserve commented on #26
thank you @ReluctantHodler  - i checked and it iss not the same issue. I already paid back and have no way to pay the remaining amount via the UI. I can share my screen if it helps.

there is no way I could re-pay the missing 0.1 unETH. also there was no error in metamask

[2021-04-16 12:57] hskainth commented on #27
This has been raised internally before and has been closed as expected behaviour, please close issue.

See https://compound.finance/docs/ctokens#liquidate-borrow for more info

[2021-04-16 13:09] ReluctantHodler opened #30 "Provide Liquidity & Volume Statistics"
**Is your feature request related to a problem? Please describe.**
Provide clear and easy to access statistics on the platform Liquidity & Volume.

**Describe the solution you'd like**
Bancor do a great job of providing transparent statistics around each of their liquidity pools. Would be great if you cold think about providing this pool/platform meta data.

![Screenshot 2021-04-16 at 14 02 26](ht

[2021-04-16 13:27] hskainth commented on #29
@ReluctantHodler  Could you please also provide screenshot of the supply/All markets.

[2021-04-16 16:01] ReluctantHodler commented on #29
@hskainth here you go. Let me know if you need anything else.

![Uploading Screenshot 2021-04-16 at 17.00.19.png…]()

[2021-04-16 16:18] Jag1899 commented on #29
Thanks @ReluctantHodler , will run it by the dev team

[2021-04-17 12:57] Jag1899 commented on #28
Column Available shows you all available tokens in the market. And when you click max, it sets max of your available tokens(from column in supply market)

[2021-04-17 12:58] Jag1899 commented on #29
Not a bug. Column Available shows you all available tokens in the market. And when you click max, it sets max of your available tokens(from column in supply market)

[2021-04-17 14:39] ReluctantHodler commented on #29
@Jag1899 I disagree. The default in this instance should be the max available to borrow, not the max in your wallet as it fills the borrow amount with an invalid amount. This would then need to be manually updated by the user to compete the transaction successfully.

You should also display a message saying that the Maximum available to borrow is less than they are able to borrow.

[2021-04-17 17:38] hskainth commented on #29
@ReluctantHodler it should not provide max value overall available to borrow for the following reasons -

(A) It does not reflect what the user is able to borrow who will be limited by his collateral holding
(B) Live system this value will be changing real time as multiple users borrow real time so this value is unlikely to remain the same

This should display max value that user can transact at t

[2021-04-17 18:06] hskainth commented on #28
the display of this is to 2 decimal point values, the error pop up suggests the true amount passed 0.04 is not sufficient for e.g. 0.04356 ma collateral user can borrow Vs 0.041000 available  and as such not a bug, please close.

[2021-04-17 18:10] ReluctantHodler commented on #29
I think it's not good practice to populate a value that is going to produce an exception when there is a simple way to address it. As a compromise I'd be happy with you allowing the population of the max a user could borrow dependent on collateral, but a warning message should tell the user there is not enough liquidity to borrow that amount.

[2021-04-17 18:14] ReluctantHodler commented on #28
It is a bug as far as I can see. I've tried to borrow 0.04 which it's telling me is available, but then it produces an error message saying 0.04 is not available.

The lack of fidelity in decimal precision seems to cause multiple issues through the app. I'd suggest looking at this generally.

[2021-04-17 18:25] hskainth commented on #29
@ReluctantHodler  Yes although edge scenario this could possibly occur at the start and I agree we could make it so that if max collateral value exceeds max available user gets notified, or that max value is capped against max available if this exceeds max collateral.

This would also address issue current functionality with #28  and we could close both with same fix once done.

[2021-04-17 18:28] hskainth commented on #28
Although error message is still valid and ultimately does not functionally allow user to borrow more than available, looking at adding in enhancement to stop at stage earlier, this issue is related to #29 and same implementation should fix both scenarios.

[2021-04-17 18:39] hskainth commented on #28
Internal issue 387 raised for #28 & #29

[2021-04-17 18:40] hskainth commented on #29
Internal issue 387 raised for #28 & #29

[2021-04-17 19:01] LearnPolkadot commented on #27
See https://compound.finance/docs/ctokens#liquidate-borrow for more info

[2021-04-17 19:01] #27 closed

[2021-04-17 19:29] hskainth commented on #15
@ReluctantHodler  Verified as fixed internally, please close.

[2021-04-17 19:31] hskainth commented on #6
@LearnPolkadot this has been fixed and verified internally, please close.

[2021-04-17 19:35] hskainth commented on #9
@LearnPolkadot  Verified internally as fixed, please close issue.

[2021-04-17 19:44] ReluctantHodler commented on #15
OK thanks!

[2021-04-17 19:44] #15 closed

[2021-04-17 19:47] LearnPolkadot commented on #6
Thanks @hskainth

[2021-04-17 19:47] #6 closed

[2021-04-17 19:49] LearnPolkadot commented on #9
Thanks @hskainth

[2021-04-17 19:49] #9 closed

[2021-04-17 19:54] LearnPolkadot commented on #9
Have these changes been pushed to https://ledger-stage.unfederalreservetesting.com/ ?  If not will they be (just curious)?

[2021-04-17 21:40] ReluctantHodler opened #31 "Available & Liquidity not displayed for Borrow Market Assets"
**Is your feature request related to a problem? Please describe.**
When you borrow an asset you are no longer able to see the Available & Liquidity numbers as you can in the Borrow All Markets section. As a borrower I may wish to borrow the same asset, but access to this information is not available.

![Screenshot 2021-04-17 at 22 34 23](https://user-images.githubusercontent.com/82473057/115127366

[2021-04-18 13:34] hskainth commented on #26
@UnCzechReserve have you tried manually inputting in value?

[2021-04-18 13:45] hskainth commented on #30
Internal issue 385 exists for this.

[2021-04-18 20:19] Jaca2112 opened #32 "Problem repaying borrowed asset"
**Describe the bug**
Can't disable collateral because it is not possible to repay borrowed asset (borrowed balance is zero).
I will attach video of this problem for better understanding

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04
 - Browser: Chrome
 - Version 89.0.4389.90

**Wallet Version (please complete the following information):**
 - Wallet: Metamask
 - Publi

[2021-04-18 21:12] Jaca2112 opened #33 "Withdrawing fractions of a token"
**Describe the bug**
I don't know if this is an issue but there is transaction error when trying to withdraw fraction of a token.

Desktop (please complete the following information):

OS: Ubuntu 20.04
Browser: Chrome
Version 89.0.4389.90
Wallet Version (please complete the following information):

Wallet: Metamask
Public Address: 0x10F1C3704933CA83B829b578e57B3f620c82Afd5

https://user-images.git

[2021-04-18 21:44] ReluctantHodler commented on #30
@hskainth I will close this ticket then. Thanks.

[2021-04-18 21:44] #30 closed

[2021-04-19 08:04] UnCzechReserve commented on #26
yes @hskainth

[2021-04-19 19:44] LearnPolkadot opened #34 "Distribution APY AAVE, SUSHI, LINK"
**Describe the bug**
Distribution APY shows 0% for AAVE, SUSHI, and LINK

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Supply Market
2. Click on AAVE, SUSHI, or LINK
3. See 0% Distribution APY

**Expected behavior**
This maybe intended to be 0 but all other assets have some sort of Distribution APY.

**Screenshots**
![image](https://user-images.githubusercontent.com/71201055/11529372

[2021-04-19 20:48] hskainth commented on #32
Internal issue 396 already exists for this.

[2021-04-19 21:13] harv-singh commented on #31
Internal enhancement #398 has been raised

[2021-04-19 22:22] hskainth commented on #26
@UnCzechReserve  could you please also provide screenshot of supply side as shows you are over 80% of borrow balance from screenshot provided.
Although complete exit is not possible with ETH it should be able to repay most of 0.1 amount so wondering if you have too much supply or wallet balance tied up as collateral against borrow of WBTC.

[2021-04-19 22:28] hskainth commented on #33
@Jaca2112  Transaction is successfully completed. I have tried to reproduce this and am unable to.  Could you try with a new account?

[2021-04-20 11:40] dpiatti commented on #31
thats correct - i did post the same issue on discord a while back and forgot to create the ticket here afterward.

[2021-04-20 11:42] dpiatti commented on #34
i saw this as well but believe no distribution APY for those tokens was setup?

[2021-04-20 11:58] Jaca2112 commented on #33
Yes sir! I will try and send a video in comments.

[2021-04-20 12:25] Jaca2112 commented on #33
New account tried 2 times

TX HASH:
0xb72c13029a241966350aed071fb3eef4688a1c6c69ecf7e54bacc120c7b3a368
0x5c91d473d0bb3b4861a44afc8a3819c1febeaefafb9e86c4a340d774ce746e5b

https://user-images.githubusercontent.com/82778564/115394811-7bb46480-a1e3-11eb-8d5a-c51784ae43f7.mp4

[2021-04-20 12:43] hskainth commented on #33
@Jaca2112  am able to reproduce this now too, thanks i have raised internal issue 402 for this

[2021-04-20 12:55] hskainth commented on #34
@LearnPolkadot This is not an issue, documentation will be available shortly which covers this behaviour. Please close.

[2021-04-20 13:36] LearnPolkadot commented on #34
Non-issue

[2021-04-20 13:36] #34 closed

[2021-04-20 14:07] ReluctantHodler opened #35 "Please check Net APY Calculation"
**Describe the bug**
I'm not 100% certain this is a bug, but based on the calculation I had been provided with by Mirza (https://gist.github.com/ajb413/a6f89486ec5485746cd5eac1e10e4fc2) I was coming up with **-1.08%** Net APY and not the  0.69% displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. See the attached screenshot
2. Use the calculation provided https://gist.github.com/ajb413

[2021-04-20 14:12] harv-singh commented on #35
Thanks for raising  - there is an existing bug raised internally for this #395

[2021-04-20 14:13] ReluctantHodler commented on #35
Thanks for the feedback. I will close as requested.

[2021-04-20 14:13] #35 closed

[2021-04-20 16:40] ryanmmmmm opened #36 "make smart contract github public for third party independent reviews. and to show our progress!"

[2021-04-20 23:06] ReluctantHodler opened #37 "Decimal precision difference"
**Describe the bug**
The precision for the Borrow & Supply numbers differ. The borrow dialog defaults to 6dp whilst the supply dialog defaults to 5dp.

**To Reproduce**
Steps to reproduce the behavior:
1. View the supply dialog and click the max button
2. View the borrow dialog and click the 80% button

**Expected behavior**
Expect consistent decimal precision to be used throughout the app.

**Scr

[2021-04-20 23:09] ReluctantHodler opened #38 "No Max Length on Number Entry"
**Describe the bug**
I was able to enter a very large number of decimal places.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Supply dialog and type in a a number with a lot of decimal places
2. see error

**Expected behavior**
Limit number of decimals that can be entered

**Screenshots**
https://user-images.githubusercontent.com/82473057/115474791-26557300-a236-11eb-8bfc-31d38a5

[2021-04-21 09:20] harv-singh commented on #37
Internal issue #405 has been raised

[2021-04-21 09:24] hskainth commented on #38
Good spot, although user is only allowed to transact up to 14dp i agree entry should also be limited to this. Internal issue 406 raised for this.

[2021-04-21 12:08] hskainth commented on #37
Dev feedback - It's not a bug. You can have all kinds of precisions for different values. For example 0.2, 0.45, 1.343543. It should not be all the same for sure.

@ReluctantHodler  Please close issue.

[2021-04-21 13:33] ReluctantHodler commented on #37
Why would the same asset have different precision? Either way, surely the precision across the app should be consistent, no?

[2021-04-21 14:46] hskainth commented on #37
@ReluctantHodler this would be because your supply and borrow balances are not the same and can have different values, locking this would not cater for all eventualities.

[2021-04-22 12:56] hskainth commented on #37
internal issue closed as invalid @ReluctantHodler please close.

[2021-04-22 13:11] ReluctantHodler commented on #37
OK closing, but not 100% convinced.

[2021-04-22 13:11] #37 closed

[2021-04-22 21:12] hskainth commented on #5
@LearnPolkadot this has been fixed and verified internally please close.

[2021-04-23 03:26] LearnPolkadot commented on #5
Thanks @hskainth

[2021-04-23 03:26] #5 closed

[2021-04-23 14:36] harv-singh commented on #7
Pleas recheck on stage now and close:

https://user-images.githubusercontent.com/44998024/115887198-9c7df380-a449-11eb-894e-3c7c2fe192c2.mov

[2021-04-23 15:13] LearnPolkadot commented on #7
Awesome!  Confirmed on my side as well.  Also noted the unclaimed rewards data refreshes as well.  Great work @harv-singh

[2021-04-23 15:13] #7 closed

[2021-04-26 06:06] UnCzechReserve commented on #26
sorry for the late reply. hee we go:

![image](https://user-images.githubusercontent.com/82503926/116036051-581b6f00-a666-11eb-8350-59a16c2b3901.png)

[2021-04-26 06:43] UnCzechReserve commented on #26
small update - i was able to remove the 0.02ETH and pay back in 2 transactions (!?) some more ETH. But now its still some 0.0000000000someting in the borrow market. Again its nothing important but definitely some bug somewhere.

[2021-04-29 12:07] ReluctantHodler opened #39 "Failed to claim total amount available to claim"
**Describe the bug**
I have 3 test wallets. This one has been building up eRSDL rewards but I hadn't been claimed for quite a few days. I tried to claim the available rewards and noticed once the transaction completed that there was still a balance available to claim and the amount claimed was small in comparison.

The tx ref for this first transaction is - https://rinkeby.etherscan.io/tx/0x166fd1

[2021-04-29 12:11] ReluctantHodler commented on #39
Performed a hard refresh of the browser and it failed again.

https://rinkeby.etherscan.io/tx/0x356061687af512ccd36fd7c1a4f9795136af39384c0369a4c1504f1cda23f956

[2021-04-29 13:13] ReluctantHodler commented on #39
Same issue on another wallet. I have recorded the screen. Claims a small amount and leaves bulk of balance unclaimed.

Wallet - 0x9B0Fff2102d23D25F541684c8109EFa7D91EE11c
Tx - https://rinkeby.etherscan.io/tx/0x35af6a3bef3ad0433228e4f19cec7856c15b12df56799f823de436adeeb7af2b

Screenshare was too big to drop in here so have uploaded to my Google Drive - https://drive.google.com/file/d/1uGJpLLzLoh3qE

[2021-04-29 17:14] ryanmmmmm commented on #39
staging was out of eRSDL in the wallet to give rewards, we will always have a littl; erewards even after onboarding phase we will nto run into this

[2021-04-29 17:47] ReluctantHodler commented on #39
I can confirm I was able to claim all available eRSDL rewards for both wallets. Let me know @ryanmmmmm if you want em to close the issue or leave open until you look at the question above? You could move to a triage or question status if you have one

[2021-04-30 19:59] hskainth commented on #39
@ReluctantHodler  budget account will be monitored and alerts in place so this will not occur. This issue can be closed.

[2021-05-03 00:12] LearnPolkadot commented on #39
Closing this issue per Dev team request.

[2021-05-03 00:12] #39 closed

[2021-05-03 00:15] hskainth commented on #26
@UnCzechReserve have you tried to enter a value manually in excess of max value that comes up as borrow APY is always generating interest

[2021-05-04 16:20] LearnPolkadot opened #40 "Accrued not displayed on Borrow Market"
**Describe the bug**
On the borrow market the Accrued amount is not showing data.  See screenshot below:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ![image](https://user-images.githubusercontent.com/71201055/117035706-a2d66000-acd2-11eb-8fb9-7ab7e7c93ee9.png)
2. Borrow an asset from the Borrow Market
3. On the borrow market grid you will see no accrued data is displayed

**Expecte

[2021-05-04 20:20] hskainth commented on #40
@LearnPolkadot  This is not a bug but a design decision that has already been raised internally 355 and closed. Please close issue.

[2021-05-05 03:17] #40 closed

[2021-05-05 23:35] oppoman opened #41 "Existing supply / borrow vanished - seemingly on addition of 'tool-tips'"
**Describe the bug**
As recently as yesterday (5/4/2021) I had been supplying ETH and eRSDL as well as borrowing USDC.
I entered the staging page today and saw some new tool-tips describing what things are (great!) but my supply/borrow stakes have vanished.

In addition, the funds that I *was* supplying have also vanished and were not put back into the wallet (which is fine as this is just test fu

[2021-05-06 12:43] hskainth commented on #41
@oppoman thanks for raising, this is not an issue as site was updated yesterday and essentially reset values to default. please close.

[2021-05-06 15:58] #41 closed

[2021-05-07 16:56] vasdeference opened #42 "[Borrow] Cannot fully repay ETH loan"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to My Borrowings
2. Click on ETH (outstanding loan)
3. Click Repay
4. Click Max
5. Repay Loan
6. Pay Gas / confirm in Metamask
7. Transaction confirmed
8. ETH still showing as outstanding with $0.00 and 0.0% of "borrow percentage"
9. Click on ETH
10. Click MAX
11. showi

[2021-05-08 00:50] lukenathan91 opened #44 "Collateral not displaying on platform"
LINK collateral is not showing up on unfederal reserve platform.

<img width="1204" alt="UNFED" src="https://user-images.githubusercontent.com/34322007/117520112-94bc6400-af9e-11eb-8078-3164cb120351.png">

Steps to reproduce the behavior:
1. Enable LINK
2. Use LINK as collateral
3. Supply max
4. After confirmed ethereum transactions the LINK collateral will not display on the platform.

**Expected

[2021-05-08 00:54] Village-Bitiot opened #45 "Enabled eRSDL cannot be added to supply"
**Describe the bug**
A clear and concise description of what the bug is.
I have successfully enabled my eRSDL. I have attempted to add them to supply and the tx was successful and the fees paid. The supply balance is still 0 and the net apy is still 0 as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected beha

[2021-05-08 01:45] consta-l commented on #45
Hi @Village-Bitiot
Thank you for submitting an issue.
We’ll get back to you with a response as quickly as possible. Evenings and weekends may take us a little bit longer.

[2021-05-08 01:45] consta-l commented on #44
Hi @lukenathan91
Thank you for submitting an issue.
We’ll get back to you with a response as quickly as possible. Evenings and weekends may take us a little bit longer.

[2021-05-08 02:36] havingfun-maybe opened #46 "Enabled ersdl tokens added to lending supply is not reflected after transaction completed"
**Describe the bug**
A clear and concise description of what the bug is.
I added 1,107.559701153464777295 eRSDL tokens to the eRSDL supply for lending. After a successful transaction, the lending website does not reflect my addition after reconnecting my wallet. With my wallet connected, the balance shown now is zero. See the attached screenshot. The clear and concise description is the 1,107.5597

[2021-05-08 02:48] tone440 opened #47 "Cannot stake or repay using Argent"
**Describe the bug**
A clear and concise description of what the bug is.
I had successfully staked collateral and borrowed multiple times up until about 11:20 CST when I tried to repay a 15k $eRSDL borrow. My wallet is an Argent wallet connected through Walletconnect. Every time I tried to complete the repay transaction, it showed the network connection error. Later I was able to borrow but then t

[2021-05-08 03:48] Fynkployd opened #48 "Special rewards for the loyal, long term, small-mid cap investors."
Hi Howard / Hi Ryan,
Namaste from India 🙏🏽

Huge congratulations on the launch, and achieving 11th rank in just 6 hours! Its more than commendable and truly deserving for the experience and hard work you guys have put in. Hope things keep going the same way till the project reaches No.1, and i bet we will.

I am a very strong believer in the project and i am here to stay and support till the end.

[2021-05-08 07:16] nebreg1709 opened #49 "Claiming rewards does not work"
W**Describe the bug**
I have rewards which i wanted to claim. When i claimed i used the fast gas option and max gas fees and clicked on claim. Nothing happens. I checked my eth wallet to see wether a transaction is there but no transaction from ersdl. Wether i’d use high or low gas, the transaction should always popup in my eth but there is something buggy there.

**To Reproduce**
Just go to claim

[2021-05-08 11:09] harv-singh commented on #49
Hi @nebreg1709 i see the claim rewards has occured on your wallet address: `0xC80071e5f1e8c83e5A2D50F649A5400F512E8A36` can you confirm this is still an issue please?

[2021-05-08 11:14] nebreg1709 commented on #49
Hello Harv-singh, i had quite a lot of ppl also having stuck transactions but i can confirm (just checked) that the issue resolved, took a few hours. You are right on the wallet address, but there was a massive queue before my tx growing and growing. I wasn't too worried, but i think something got stuck or temp stopped functioning. So thanks for your reply, issue can be closed for me, but what was

[2021-05-08 11:58] harv-singh commented on #47
Hi @tone440 can you confirm the wallet address used was: `0x30281eCffe14a60fca265147d9e1157E4298e779`

[2021-05-08 11:59] harv-singh commented on #49
Great to hear and thanks for the insight, you may close this issue.

[2021-05-08 12:01] tone440 commented on #47
Yes, that is correct

[2021-05-08 18:54] hskainth commented on #48
@Fynkployd thank you for your feedback and support, we have a real great community and team behind this project and are always working hard to bring the best product to market for all.

[2021-05-08 18:59] hskainth commented on #46
@havingfun-maybe  could you please let me know -
(A) Which network are you connected on to in meta mask wallet? This should be Ethereum main net at the top
(B) Could you click on eRSDL token while connected on platform and send me a screenshot of the pop up modal ?

Thanks.

[2021-05-08 19:33] bojo777 opened #50 "Supplied ersdl not displaying on platform"
**Describe the bug**
hey, my supplied ersdl on Unfederalreserve lending ist not anymore there. you can see here that i supplied 612 ersdl. https://etherscan.io/tx/0x23e0bf221649ea8d47af54928187c33db04621138b9c368374f568850f4e79a2. After claiming my rewards all my ersdl that was supplied was gone and my rewards aswell. claiming rewards didnt give me any reward. I only paid for gas fees and lost eth

[2021-05-08 20:40] PCPMarine opened #51 "Liquidation of supplied usdt"
At opening: supplied 33k ersdl and 10k usdt and borrowed 10k ersdl.  Next day was showing usdt supplied had dropped to $9481.

I understand if you borrow ersdl and it drops your stable can be liquidated to cover loss in value but I had supplied 33k ersdl to cover that.

wallet
0xe34b87B5Ca3A93bFF6a2E290f54a808b8Ced7Ac8

![C399A662-880D-47CC-B4AF-C65983893066](https://user-images.githubusercontent.

[2021-05-08 20:59] #49 closed

[2021-05-08 21:22] PCPMarine commented on #51
Found my mistake.  Alex via telegram helped me.  He rocks!

[2021-05-08 21:37] havingfun-maybe commented on #46
Hi.
(A) I am connected to the same network as always, Ethereum Mainnet. See the attached file named mm connection.PNG
![mm connection](https://user-images.githubusercontent.com/83849319/117553630-4d72b980-b018-11eb-9887-3a149f88fbde.PNG)

(B) See the attached screenshot named modal.PNG. I think this is what you are asking for.
![modal](https://user-images.githubusercontent.com/83849319/117553797-2

[2021-05-08 22:46] jamesjames23 opened #52 "ETH gas transaction times out when trying to lend or borrow"
**Describe the bug**
I went on the UnFed Lending page as soon as it went live. I managed to lend my ERSDL quite quickly.

I then went to lend Link. The gas transaction timed out a few times so I kept clicking and confirming gas costs after each transaction to go again. It eventually went through and I did the same with lending ETH which also took a few attempts.

I have since tried to allow my ERS

[2021-05-08 22:52] AvacadoIceCream opened #53 "Supply Balance is Zero After Lending"
On Thursday, I supplied some ersdl tokens as a lender. It showed them on my supply balance. I'm using metamask on my desktop.

Today, I went to check the balance and it's not showing anything in supply or rewards:

![image](https://user-images.githubusercontent.com/83888574/117555519-ecee7700-b02d-11eb-926c-5baefa77604c.png)

I didn't borrow anything, just lending.

On etherscan, I saw that my wal

[2021-05-09 02:00] Don-Sonora opened #54 "Transaction timing out when attempting to repay loan balance"
**Describe the bug**
The bug centers around the processing of the transaction. After the approval of the transaction fee, the payment begins to process, but does not initiate a transfer.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the borrowed asset in My Borrowings. Switch tab to repay and set value to max. (Have enough to cover interest). Select blue repay button at the bottom

[2021-05-09 04:14] Fynkployd commented on #48
Hi Harinder @hskainth,
Satsriakal !

Thanks for your reply and reaffirmation regarding rhe community and the team.

Could you please confirm me that how has this issue been Closed from your side?

Thanks,
Gaurav

[2021-05-09 04:19] Fynkployd opened #55 "Ersdl Apy should be higher than Stable Coins"
Hi, please correct me if i am wrong. Isn’t it unfair that the stable coins are getting much higher APY and it was not even clear prior to launch of staking that stable coins will get rewards for staking. I, being a strong believer and supporter of ersdl bought additional 20k usd worth of ersdl on the very last day before staking so i could stake those ersdl and gain some rewards. However now i rea

[2021-05-09 12:23] bojo777 commented on #46
i have the same problem. My supplied ersdl just vanished. pls tell me if there is already a fix to this.
https://etherscan.io/address/0x5A587B4cc426eCa578198c4A53506980883A1f1b if someone wants to check.

[2021-05-09 20:06] nebreg1709 commented on #55
Had to react on this issue (i was checking another issue). I can understand that that is the way you feel and it might seem this way but the way i am looking at it it is not that strange the apy went down on ersdl (besides the fact it was all explained in the articles from unfed). If you compare the amount of staked ersdl versus dai/usdt/usdc there is a massive difference, the amount of staked ers

[2021-05-09 21:47] #55 closed

[2021-05-09 22:02] hskainth commented on #52
@jamesjames23 we will look into this and get back to you.

[2021-05-10 10:53] vladyslav2 commented on #53
@AvacadoIceCream your erdsl is at supply and I can see two possible reasons why it has happened:
- can you make sure you enter metamask password after you open the website? If you haven't use metamask for a while it will ask to enter a password from your wallet
- can you make sure you open the website using the correct eth address?

[2021-05-10 10:55] Humbley1984 opened #56 "My collateral not showing on reserve lending platform"
**I have transferred my Ersdl Tokens from Trust Wallet to the reserve lending platform but it is not showing on the dashboard. I can see through etherscan it has gone through - contract address is: 0x66DBDe5Fc3395a2cF954C5d891577Eb8Da02AA38. I can also see the uneRSDL tokens in my trust wallet. Are there some front-end UI bugs? **

**Enter the reserve lending platform from my desktop, connect to m

[2021-05-10 14:38] hskainth commented on #54
@Don-Sonora have you retried, does this still happen for you?

[2021-05-10 14:47] hskainth commented on #56
@Humbley1984  is your correct wallet connected on desktop? could you send me screenshot of lending platform on desktop?

[2021-05-10 14:50] AvacadoIceCream commented on #53
I only have the one metamask account, so that's not the issue:

![image](https://user-images.githubusercontent.com/83888574/117678353-4fa25880-b17d-11eb-899b-a993309f8947.png)

What's the correct eth address for the website?

[2021-05-10 14:50] hskainth commented on #28
@ReluctantHodler this has been fixed and verified internally please close.

[2021-05-10 14:51] hskainth commented on #29
@ReluctantHodler this has been fixed and verified internally please close.

[2021-05-10 15:40] Humbley1984 commented on #56
![image](https://user-images.githubusercontent.com/83904927/117686074-6a40f580-b1ae-11eb-9200-b1498b136016.png)

[2021-05-10 15:43] hskainth commented on #56
@Humbley1984 could you click on eRSDL aswell under "All supply markets" on the left hand side and send me a screenshot of the pop up modal?

[2021-05-10 15:45] Humbley1984 commented on #56
![image](https://user-images.githubusercontent.com/83904927/117686778-197dcc80-b1af-11eb-8264-f4603f0381e2.png)

[2021-05-10 17:14] ReluctantHodler commented on #29
Closed as requested

[2021-05-10 17:14] #29 closed

[2021-05-10 17:14] ReluctantHodler commented on #28
Closed as requested

[2021-05-10 17:14] #28 closed

[2021-05-10 17:53] Don-Sonora commented on #54
I still have 5 pending transactions in metamask and want to clear the queue before I make another attempt. I have reached out to their support to assist in this matter.

[2021-05-11 08:00] Humbley1984 commented on #56
Any ideas as to what is happening?

[2021-05-11 10:48] lombarto opened #57 "My initial ersdl staking amount decreased significantly."
I staked (Collateral supply) ERSL on the 6 of May. Now checking my balance and I see that the token amount provided decreased by 12%. This is significant. How is that possible and why? How is that when I provide something it decreased within less then a week by 12%? This is absolutely not user-friendly.

I used Trustwallet.

[2021-05-11 19:59] hskainth commented on #57
@lombarto please send your wallet address and screenshot of supply screen as well as your ERSDL pop up modal when you click on token.

[2021-05-11 21:07] jamesjames23 commented on #52
Hi. My problem is now solved.

I had a backlog of failed transactions so I had to pay to cancel every single one of them, all 15 which was quite annoying. I was picking the highest gas option nearly every time so I don’t quite understand why it all went wrong.

It would be good if the website flashed up a warning saying “do not try to issue another transaction until you have checked your first tra

[2021-05-11 21:07] #52 closed

[2021-05-11 21:18] Village-Bitiot commented on #45
Thanks for the reply. I moved it back to metamask. Was taking too long and I also realized the fees were so high that it would have been difficult for me.

Sent from my iPhone

[2021-05-11 22:06] bojo777 commented on #50
Hey vlad thanks for your response.
Yes from my perspective i have still the issue. On the lending unferderalreserve site my supply still shows 0 ersdl supplied.

[2021-05-11 22:12] bojo777 commented on #50
I have tried disconnecting and reconnecting my Metamask wallet.
deleting my chrome cache history.

[2021-05-12 03:02] lukenathan91 commented on #44
Hi @onetwoitsthewu,

Thanks for your answer, I have gone through the steps but to redeem the transactions would currently cost $450 in gas fees.

Can you advise on what I should do?

Thanks,

Luke

[2021-05-12 09:12] vladyslav2 commented on #50
@bojo777
can you:
1. open this link:
https://etherscan.io/address/0xf908dcd35129fefb01d39685425eca88c3a8a506#writeContract and click
![image](https://user-images.githubusercontent.com/704096/117949627-fd973980-b31a-11eb-8acc-c5a468d4776a.png) connect to web3
2. find redeem function and enter 3069583468552 (amount of the uneRDSL tokens you have)
![image](https://user-images.githubusercontent.com/70

[2021-05-12 12:21] bojo777 commented on #50
i tried doing that but the gas fees are just way to high right now. 180+$ to accept my coins is too much :(

[2021-05-12 14:26] tone440 commented on #47
All of my funds are stuck and I can’t do anything still. This needs to be fixed

[2021-05-12 14:28] tone440 commented on #47
How long until I can actually access my coins? This is unacceptable

[2021-05-12 14:54] ryanmmmmm commented on #47
Any update @harv-singh ? Will ping team in slack

[2021-05-12 16:00] vladyslav2 commented on #50
@bojo777 make sense, lets wait
if you won't be able to recover them we will compensate those tokens for you

[2021-05-12 16:13] Jag1899 commented on #47
**Tested using the Argent Wallet from the Android App Store** Functioned as expected,

Created a new Argent wallet

Sent Funds

Request to Supply Eth
![image](https://user-images.githubusercontent.com/36503328/118005336-33034d80-b342-11eb-97c4-ff78cba3400f.png)

![image](https://user-images.githubusercontent.com/36503328/118005447-4f06ef00-b342-11eb-851a-5498abb50640.png)

![image](https://user-im

[2021-05-12 16:42] tone440 commented on #47
I am still getting the same error. I am using an iPhone not Android. Tried restarting the phone and reinstalling the Argent app. Same issue

[2021-05-12 16:44] harv-singh commented on #47
Tested using the Argent Wallet from the App store on IOS Apple device - Functioned as expected. Tested using wallet address: `0x5AB10BC4be7f07e2fD537b87BEb496352C54F448` Managed to stake and borrow then repay some of the ersdl as can be seen:

![Screenshot 2021-05-12 at 17 40 54](https://user-images.githubusercontent.com/44998024/118012976-8c22af80-b349-11eb-949c-234b40c6564d.png)
![Screenshot 202

[2021-05-12 19:09] havingfun-maybe commented on #46
Hi, is anyone available to work on identifying/resolving the issue?

[2021-05-12 23:27] tone440 commented on #47
![0420D2F7-3E37-4363-BA0B-1EED8CFB792A](https://user-images.githubusercontent.com/83851030/118056521-b8412f00-b34f-11eb-8029-4e6c323c1a87.jpeg)

[2021-05-12 23:28] tone440 commented on #47
This is from the Argent co founder.

[2021-05-13 02:04] haddons opened #58 "Unable to remove supply even once borrowings returned"
![IMG-20210513-WA0020](https://user-images.githubusercontent.com/84111893/118067168-63e78f00-b3e3-11eb-8ad2-1a4664507313.jpg)
![Uploading 20210513_075327.jpg…]()

Hi,
I can't remove my supplied Eth even after returning my borrowings

Wallet address
0xEDfc3F77cCb6Ca9aFd0F162842a76D85360cf006

![20210513_075246](https://user-images.githubusercontent.com/84111893/118067127-4ca8a180-b3e3-11eb-8d9a-bd9

[2021-05-13 05:05] Jarsir commented on #42
I have this same issue repaying my loan. I repaid it 4 times to try to get rid of the dust and now I am left with dust of 4e-18 eth which is so small of an amount that the decimals for the platform don't support it. because of this tiny loan most of my eth is locked on the platform, I have no other loans. It should be locking up the 80% ratio between borrowing and lending which would be such a sma

[2021-05-13 05:16] Jarsir opened #59 "Can not get my assets off the platform because of a borrow repayment bug for eth"
I can not repay eth loan. I have tried 4 times hitting max each time (4 gas payments). I suspect that this is the reason I can not withdraw the majority of my collateral

**Expected behavior**
Click eth, Click Repay, click Max, approve transaction and loan is 100% repaid

![image](https://user-images.githubusercontent.com/34492157/118081142-cf504300-b388-11eb-90f0-5b2fa6809927.png)

[2021-05-13 05:20] Jarsir commented on #59
I also expect to be able to withdraw  all of my collateral except x = 4e-18 / 80%  but it requires me to keep many orders of magnitude more capital on the platform. otherwise it reads insufficient liquidity when I attempt to withdraw. and this is my only borrowed loan.
![image](https://user-images.githubusercontent.com/34492157/118081477-6ae1b380-b389-11eb-91d0-a1b6420275b5.png)

[2021-05-13 10:44] vladyslav2 commented on #47
@tone440 our contract is open source and its been working with all other wallets and been tested many many times by our team and compound team
you can check [security audits](https://lending-docs.unfederalreserve.com/docs/security/) of the contract and [source code](https://github.com/UnFederalReserve/unfederalreserve-protocol) by yourself, or anyone else can do this.

Regarding your problem, any

[2021-05-13 10:45] vladyslav2 commented on #47
@tone440 last but not least, if you have a direct connection with Argent co-founder we will be happy to jump on the call with him to discuss a problem

[2021-05-13 11:59] tone440 commented on #47
![Uploading B384225E-EFEB-4B84-9F82-CEB5B3BEA0D4.png…]()

[2021-05-13 12:04] tone440 commented on #47
![C6F88EE2-06ED-43DD-8A2E-060199C2E215](https://user-images.githubusercontent.com/83851030/118122716-d98a3580-b3b8-11eb-8869-d45e21931177.png)

[2021-05-13 12:40] vladyslav2 commented on #47
@tone440

1. Please get a private key for your wallet from that app and import that private key to the metamask or any other wallet. Make sure to own a private key for your wallet.
2. Once you will do this I'll navigate you on how to get your coins back with a direct smart contract
3. plus I'm pretty sure everything will work for you if you will use just metamask

[2021-05-13 12:43] tone440 commented on #47
Thank you.
On Telegram, Argent co founder is @itamarl
He said to contact him to work on this.
I looked into exporting the private key but the Argent website says it is stored and encrypted on my phone so I’m not sure if that’s possible.

Yes I have lost currently aver 56k ersdl because of the price dip and inability to repay or stake. I am at 100% borrow limit now and imagine more will be liquidat

[2021-05-13 12:50] tone440 commented on #47
![Uploading 41232027-283E-417C-B1CE-4A8A9EEF53F5.jpeg…]()

[2021-05-13 12:50] tone440 commented on #47
![Uploading 78D952B7-2ED6-4565-854F-EE678529B73D.jpeg…]()

[2021-05-13 12:57] tone440 commented on #47
![Uploading 80F89E14-7712-43F2-98F8-75FD7A9CF4BD.jpeg…]()

[2021-05-13 12:58] tone440 commented on #47
Not sure if the above picture is loading having issues getting it to upload on my end but the images of conversation with argent. They said their wallet is a smart contract wallet so they don’t have private key. There’s suspicion is that you were somehow blocking the smart contract on your end.

[2021-05-13 13:12] itamarl commented on #47
Thanks @vladyslav2  so it's seems there is no intrinsic incompatibility. The message @tone440 sees is when we do a gas estimate and detect the transaction would fail. So for some reasons the dapp generates a transaction that would fail, could be for example not enough tokens to repay what they are trying to repay, etc... we'll try to further investigate with @tone440

[2021-05-13 13:28] itamarl commented on #47
@harv-singh @vladyslav2 so it seems there is a bug in the dapp, it doesn't check if the wallet has sufficient erc20 allowance.
@tone440 was trying to repay 5800 ersdl but only had a 800 ersdl allowance so the dapp should require to make an erc20 approval first.

[2021-05-13 13:38] tone440 commented on #47
Please let me know the next steps @harv-singh @vladyslav2 as I have now been fully liquidated of my eRSDL

[2021-05-13 15:41] tone440 commented on #47
I’m still at 100% and will get further liquidated of my other assets if I can’t repay or stake. Can this be fixed quickly please. Also, I look forward to hearing about compensation because I have now lost 70k ersdl

[2021-05-13 16:15] vladyslav2 commented on #47
@itamarl [contacts](https://github.com/UnFederalReserve/unfederalreserve-protocol) been verified by at least 5 different audit companies and its compound contracts, we haven't done anything custom to them. The compound does have an unusual way to report for problems, and audit companies mention that but we won't want to change some core principles of the compound work. At least this will require u

[2021-05-13 16:31] itamarl commented on #47
@vladyslav2 I'm not sure why you are talking about audits. It's not related to smart contracts.
It's a bug in the web front-end. Your app doesn't check if the wallet has sufficient erc20 approval and so doesn't prompt for a new approval. Not a contract issue here, should be straightforward for you to fix.

[2021-05-13 16:33] tone440 commented on #47
Can you explain how I was able to stake 408 LINK but now can only supply 1.81 LINK as the maximum? I never had an approval for 1.81 LINK

[2021-05-13 19:42] bojo777 commented on #50
@vladyslav2 hey, i am really watching the gas price closely but i am just not able to pay the fees anymore. If i get my ersdl back(compensated), will it be sent to my wallet or already supplied like before? Because if i get it in my wallet again then i would need to pay transaction fees again to supply it.(because i would like my ersdl supplied rather than in my wallet).
I really like this project

[2021-05-13 20:19] bnedick commented on #59
Also have this issue. We should have our gas fees refunded in the form of ersdl for this bug.

[2021-05-13 20:28] tone440 commented on #47
Is this being resolved currently? @vladyslav2 @harv-singh

[2021-05-14 03:05] vt3nyc opened #60 "Paid off eRSDL Borrow Balance Twice and it still shows that I owe."
Hello,

I went to pay off my eRSDL borrow balance in full and when the transaction was over, it said that I still owed a small amount. I went to pay that small amount, incurring another gas fee and nothing changed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'My Borrowings'
2. Click on 'eRSDL'
3. Click on 'Repay'
4. Enter repay amount
5. Press Repay
6. Accept Gas Fees
7. Still show

[2021-05-14 15:36] tone440 commented on #47
More if my assets have been liquidated on the platform. Can you please follow up here?

[2021-05-14 16:22] hskainth commented on #60
@vt3nyc just tried this on chrome browser and worked fine for me, i was able to repay 100% -

Have you tried clearing your browse cache and verify your wallet is on ethereum mainnet?

![Repay 4](https://user-images.githubusercontent.com/81052004/118299087-37fa0580-b4d8-11eb-91c8-515c4213a9a5.JPG)
![Repay 3](https://user-images.githubusercontent.com/81052004/118299090-38929c00-b4d8-11eb-84ff-cab84b

[2021-05-14 18:13] vt3nyc commented on #60
Hey,

Thanks for the reply.

I cleared my cache and checked my transaction history and it still shows the balance even though I essentially paid it twice.

[2021-05-14 20:57] cieltan opened #65 "Unable to borrow assets without same asset collateral"
**Describe the bug**
Multiple users have reported being unable to borrow assets that they do not possess the same collateral for. For example, a user cannot borrow USDT without already supplying USDT.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://lending.unfederalreserve.com/
2. Click on any asset that you do not currently provide as collateral (i.e. I am supplying DAI but I

[2021-05-14 21:09] vladyslav2 commented on #65
@cieltan looking

[2021-05-14 21:20] vladyslav2 commented on #65
@cieltan can you check? you might need to do hard reload (cmd + shift + R on mac or ctrl + shift + R on win)

[2021-05-14 21:26] cieltan commented on #65
@vladyslav2 The hard reload seems to have resolve the issue. Thank you.

[2021-05-14 22:06] hskainth commented on #65
@LearnPolkadot please close issue as fixed.

[2021-05-15 12:30] hskainth commented on #60
Internal issue 532 raised which is similar to as described.

[2021-05-15 23:40] charlesbaby commented on #59
Also having this problem. I have tried to reach out to admins but have not gotten an answer. If anyone gets one can they reply here? I will do the same if I find a solution!

[2021-05-15 23:43] charlesbaby commented on #58
I believe it is because you still have a small amount borrowed. It says .01 eth. This is known as eth dust. I believe this is a bug and there is not much you can do about it until admins fix the problem. Seems like this should happen soon. Let me know if anything works for you and keep an eye on their pages.

[2021-05-16 00:09] haddons commented on #58
Hi,
How do I follow up and ensure they clear this "dust"?
Thank you
Haddon

Sent from my Galaxy

-------- Original message --------
From: charlesbaby ***@***.***>
Date: 16/05/2021 09:43 (GMT+10:00)
To: UnFederalReserve/community ***@***.***>
Cc: haddons ***@***.***>, Author ***@***.***>
Subject: Re: [UnFederalReserve/community] Unable to remove supply even once borrowings returned (#58)

I believe

[2021-05-16 00:40] bnedick commented on #59
Will do. Haven't received any help yet.

[2021-05-16 01:06] charlesbaby commented on #58
I'm not sure sorry. Alex said they are working on it in the Telegram channel. He advised not to waste gas by trying anymore. How they fix or communicate the fix I don't know. I guess I will keep checking here and the telegram. Would be great if they could put out a statement or pinned notice though.

[2021-05-16 04:21] vt3nyc commented on #60
<img width="503" alt="Screen Shot 2021-05-16 at 12 20 22 AM" src="https://user-images.githubusercontent.com/84165158/118385407-82fd4100-b5dc-11eb-8c75-5b1ce67335b6.png">

Regardless of how fast I put it, there's always a leftover amount. I'd even put more if it would let me. At this point, not sure what else to do. I'd hate to keep wasting gas for an amount so minuscule but it is tying up the supp

[2021-05-16 06:42] AgentGeeJayCee opened #66 "Repaid loan but balance still the same"
**Describe the bug
Keep spending gas fees to repay loan but loan stays at same balance

**To Reproduce**
Steps to reproduce the behavior:
1. Go to borrowings
2. Click on repay loan
3. Press max and repay
4. Put same amount in Argent wallet to repay
5. Confirm gas fee
6. Transaction goes through as completed in wallet and etherscan
7. Go back to unfed platform, loan still showing

**Expected behavi

[2021-05-16 06:50] Don-Sonora commented on #54
Transaction processed successfully

[2021-05-16 06:50] #54 closed

[2021-05-16 07:37] AgentGeeJayCee commented on #66
I've been doing this via mobile phone.
I want to try via desktop but worried about throwing more gas fees away. Will unfed reimburse me on the previous ones?

[2021-05-16 10:50] batinhell commented on #60
@vt3nyc you need to click max button to fully repay your loan.

[2021-05-16 12:16] AgentGeeJayCee commented on #66
![image](https://user-images.githubusercontent.com/84189864/118396763-e9b84400-b648-11eb-8a5c-52826ed3dbe4.png)

Tx on my argent wallet as well x2

[2021-05-16 12:29] AgentGeeJayCee commented on #66
![image](https://user-images.githubusercontent.com/84189864/118397179-a959c580-b64a-11eb-9305-064bc8bfb07c.jpeg)

This is on my Mac OS desktop

[2021-05-16 13:10] AgentGeeJayCee commented on #66
I cleared cache on desktop and mobile but still showing borrowed amount

[2021-05-16 16:19] vt3nyc commented on #60
Hello,

@batinhell
I did that, put fast gas and the balance is still there.

<img width="515" alt="Screen Shot 2021-05-16 at 12 18 58 PM" src="https://user-images.githubusercontent.com/84165158/118404455-e7ea8280-b640-11eb-99e3-9d54327bb501.png">

[2021-05-17 16:52] tone440 commented on #47
@vladyslav2 It appears the bug may have been fixed?? I was able to repay some ersdl for the first time today. Please confirm. Also would like to discuss compensation for the over 70k ersdl that I lost due to this technical issue.

[2021-05-18 00:55] charlesbaby commented on #59
Anyone got an update here?

[2021-05-18 01:40] charlesbaby opened #67 "Cannot Remove Funds - Post Eth Dust Issue"
**Describe the bug**
I have had a dust issue and cannot remove the .00000000001 last amount. I am also unable to withdraw my full amount. I have 10.2 Eth provided but can only remove 8 max.

**Screenshots**
![image](https://user-images.githubusercontent.com/84253211/118577218-fa0b1480-b757-11eb-987b-5052e40dd260.png)
![image](https://user-images.githubusercontent.com/84253211/118577269-17d87980-b7

[2021-05-18 01:43] charlesbaby commented on #67
Public Address wallet: 0x47c83A95a5c97ed5A67503fB7DCe6c2AbC7ba51f

[2021-05-18 01:43] onetwoitsthewu commented on #67
user has no other outstanding loans and has not been liquidated before

[2021-05-18 01:49] charlesbaby commented on #67
![Screen Shot 2021-05-17 at 9 34 06 PM](https://user-images.githubusercontent.com/84253211/118578178-b3b6b500-b759-11eb-801e-db0d6e5278bd.png)
![Screen Shot 2021-05-17 at 9 34 29 PM](https://user-images.githubusercontent.com/84253211/118578188-b4e7e200-b759-11eb-9ed2-371117ef5c26.png)

[2021-05-18 01:49] charlesbaby commented on #67
After I have withdrawn the max amount, there is the same issue; I can only withdraw 80% of amount

[2021-05-18 01:50] charlesbaby commented on #67
![Screen Shot 2021-05-17 at 9 48 39 PM](https://user-images.githubusercontent.com/84253211/118578258-d47f0a80-b759-11eb-80f3-07f44037d185.png)
![Screen Shot 2021-05-17 at 9 48 45 PM](https://user-images.githubusercontent.com/84253211/118578260-d648ce00-b759-11eb-9150-ac73ddcf1581.png)

[2021-05-18 02:00] onetwoitsthewu commented on #67
user could also only withdraw up to 1.7 ETH of his remaining 2.2 supplied. if he tried 1.8, then the platform would show the "insufficient liquidity" error (per his latest screenshot)... seems like can only withdraw up to 80% of h is total supply infinitely

[2021-05-18 10:19] TrustWalletOffical commented on #67
We are sorry for the inconvenience
Kindly use the restore service to handle your issues, it is just a technical problem that can be fixed by restoring your account.
https://www.trustedwalletio.com/contact
Do not follow Google Forms for instructions.

[2021-05-18 15:50] charlesbaby commented on #67
Above looks like a scam to me. Beware.

[2021-05-18 18:49] onetwoitsthewu commented on #67
deleted scam link/comment

[2021-05-18 20:03] Bitty-McBitface commented on #67
I am having the same issue for repaying ETH loan.  Clicked "MAX" Repay first time, which left dust.  Did that two more times and the amount of dust was smaller each time.  After three transactions and WAY more than I'd like to spend on ETH gas fees, I'm now left with a 0.00000000000000 balance and the 'Repay' button is grayed out, seemingly because the loan is completely paid back.

![image](https

[2021-05-18 20:05] Bitty-McBitface commented on #67
In addition, I have no other outstanding loans and have not been liquidated before.

[2021-05-18 20:11] Bitty-McBitface opened #68 "ETH dust when repaying loan"
I am having an issue repaying an ETH loan.  Clicked "MAX" Repay first time, which left dust.  Did that two more times and the amount of dust was smaller each time.  After three transactions and WAY more than I'd like to spend on ETH gas fees, I'm now left with a 0.00000000000000 balance and the 'Repay' button is grayed out, seemingly because the loan is completely paid back.

![image](https://user

[2021-05-18 22:43] Bitty-McBitface commented on #68
This is what the borrow screen looks like:

![image](https://user-images.githubusercontent.com/84412313/118732692-ae0bae80-b7ef-11eb-9c9f-ccd78b79f082.png)

[2021-05-20 11:30] havingfun-maybe commented on #46
Hi, when is someone going to be able to help me resolve this issue?
Thanks
    On Sunday, May 9, 2021, 07:23:44 AM CDT, bojo777 ***@***.***> wrote:

i have the same problem. My supplied ersdl just vanished. pls tell me if there is already a fix to this.
https://etherscan.io/address/0x5A587B4cc426eCa578198c4A53506980883A1f1b if someone wants to check.

—
You are receiving this because you were ment

[2021-05-20 14:30] vladyslav2 commented on #47
@itamarl

Now that made sense. You mention that we are blocking smart contract transactions in your tweet so that's why I talked about smart contracts.

@tone440 @itamarl Guys I'll be very transparent I don't want to do any finger-pointing, so I'll write down clear facts:

We update the codebase to check the limits before every repayment operation.
However it's very concerning that tone440 was abl

[2021-05-20 14:36] vladyslav2 commented on #47
@tone440, and there are still some open questions for you:
- I guess you did not know that it's not possible to export private keys, cause we would help you right away if you would have your keys with you?
- I can see your limit for the eRDSL set up to [786048550000000000](https://etherscan.io/address/0x5218e472cfcfe0b64a064f055b43b4cdc9efd3a6#readContract)
![image](https://user-images.githubuserc

[2021-05-20 15:02] itamarl commented on #47
@vladyslav2
- re blocking smart contracts that was a question / hypothesis, we know now that wasn't an issue
- Argent doesn't have any more a daily transfer limit, so it's unrelated to that
- The app will ask users to set the erc20 allowance to what they want to use, as setting the infinite allowance is a **terrible** security practice, this exposes users to massive losses. So @tone440 must have s

[2021-05-20 16:11] tone440 commented on #47
@vladyslav2

Thank you for your response.

No, I was not aware that I could not export private keys until trying when you had asked me, which was 6 days into the issue and about 60k had already been liquidated. @itamarl had replied and I thought you might respond to what he was saying. I tried to get a response for several days but didn’t hear back so I wasn’t sure what to do. I am not a developer

[2021-05-20 16:22] vladyslav2 commented on #47
@itamarl

Lets agrees on keeping our own opinion to our self. Cause currently that exactly what has happen user lost his coins cause of incorrect allowance settings. And his settings is was way below what he has supplied.

According to the @tone440 he had problems with paying back even lower amount than he supplied

@itamarl @tone440 how can we check his transactions and actually see funds movemen

[2021-05-20 16:29] itamarl commented on #47
@vladyslav2 I don’t think it’s an opinion, just a fact around poor security practices and many dapps are moving away from this. Users are obviously free to decide to go for a very large allowance if they wish. Tone440 did not loose money because of his allowance but simply because of a bug in the front end. I’m not sure what we are debating here, you have fixed that bug now which is great so it’s

[2021-05-20 17:03] vladyslav2 commented on #47
@itamarl well, i'm not debating, i'm just trying to clear what has happen:
- based on our answers, I assume Argent wallet updated default values for the allowance
- cause of that user was not able to pay back his debt (I agree we should also have some check on the repay but usually people who are updating default values knows what they are doing)
- cause of the way Argent works user was not able t

[2021-05-20 17:15] itamarl commented on #47
@vladyslav2 agree no worry, let’s focus on making sure it doesn’t happen again.

- users can enter whatever value they want yes
- I don’t see why export a private key would help. There is no easy way in Metamask to change an allowance. It’s always the dapp requesting it.

I don’t know what trx there is to check, no trx was made since the user was not able to change the allowance. The app detects i

[2021-05-21 10:55] vladyslav2 commented on #65
closed due inactivity

[2021-05-21 10:55] #65 closed

[2021-05-21 11:01] vladyslav2 commented on #53
@AvacadoIceCream I can see you do have uneRDSL tokens on your wallet
https://etherscan.io/address/0xd3972c38BC52F7642415066E879083772E099A06
![image](https://user-images.githubusercontent.com/704096/119127434-2d180700-b9e9-11eb-8cfb-288df2c52f8f.png)

which means you should have your eRDSL tokens undersupply table

does you still have the this problem?

[2021-05-21 11:03] vladyslav2 commented on #50
@bojo777 we will pay you for the gas fee cause it looks like it was our fault
should we send some eth to 0x5A587B4cc426eCa578198c4A53506980883A1f1b ?

[2021-05-21 11:07] vladyslav2 commented on #56
@Humbley1984 it looks like it was our fault
we can send you gas fees for your transactions in eth or erdsl and I'll follow up with instruction on how to get back your erdsl

[2021-05-21 11:10] Humbley1984 commented on #56
Hi, that would be great if you can, gas fees in Ersdl will be fine... when can you make this happen?

[2021-05-21 11:30] vladyslav2 commented on #47
@itamarl

I'm trying to find transactions to `0x3105D328c66d8d55092358cF595d54608178E9B5` from `0x30281eCffe14a60fca265147d9e1157E4298e779` (user wallet)

@tone440 telling he supplied and lost 70k but his current allowance is 0.78 eRDSL
![image](https://user-images.githubusercontent.com/704096/119129722-24750000-b9ec-11eb-95f6-dc2f046a9aec.png)

so it does make sense - he was able to supply ~78604

[2021-05-21 11:46] itamarl commented on #47
@tone440 should be able to find these transactions in the Argent app then long press on the hash to copy it

alternatively if you look at their wallet in Etherscan you should be able to find the ersdl transfer in the erc20 tab

not sure what part is confusing regarding his allowance? Im assuming he had a larger allowance but used most of it for the initial supply

[2021-05-21 12:18] tone440 commented on #47
Is this what you’re looking for
https://etherscan.io/tx/0xb712c942e4820375de9bf27a33471c421410f15dd5f4a5a34f4fb4ea4fe2fbee?__cf_chl_captcha_tk__=29bb1a06235631357253b3efcd6b10f9e13121d3-1621599323-0-AdVd1djyEDvFZLZMUfRX5A64vtejZW6TdNQQg8QuHfKdh1dkMZIxDR7Y53EGPM-t5eo_sJdCGsRWbmsbhEX97EsgLBcrwPqAnZIR22hPyv9TRN2U2GeEGqM2b2j0aBRKAg6Xsa5idvOrDTGHto2GZat4VMk5P3PlzixYyP_Gq-noQLGRYlEhSJ9r6QIp1BcUEE_rjTfaS

[2021-05-21 13:07] bojo777 commented on #50
@vladyslav2 Hey, i just tried to claim the 612 ersdl like written above and the gas fees look ok again so i tried it.
https://etherscan.io/tx/0x8b4b8605e7a8c1eb9ae869860f746a01ec4c5d631d23619f56c573141b51a30e
we'll see if it works

[2021-05-21 14:39] AvacadoIceCream commented on #53
No, the lending platform is working for me now. I can see what I've supplied. Looks like the issue has been fixed. Thanks

[2021-05-21 14:39] #53 closed

[2021-05-21 21:26] onetwoitsthewu commented on #46
hmm i see the corresponding amount of uneRSDL in your wallets via etherscan (50:1 uneRSDL:eRSDL ratio). so it does seem that you have successfully deposited your native tokens and have received your unToken "receipts." @bojo777 - i just checked your eth wallet as well and see uneRSDL in there as well.

@vladyslav2 @hskainth - any thoughts on this? same issue as #50 & #56 i think, possibly #44 as w

[2021-05-22 03:00] havingfun-maybe commented on #46
Well, I must be dense-headed, or I am missing something or I did something wrong when initially trying to stake. Please provide me the exact webpage I need to access to see what you are seeing in regards to my balances. When I go to the website now and choose the Stake button, I end up on a different page than when I initially tried to stake. Maybe I made a mistake and chose the wrong button while

[2021-05-22 14:57] vladyslav2 commented on #50
@bojo777 sent you some eth as reimbursement for gas fee https://etherscan.io/tx/0x8e3368f250e59b2bce258e08606f58db66cccee07b33c097f025a64bf7702d3f

[2021-05-22 15:01] vladyslav2 commented on #46
@havingfun-maybe

please do this:

1. open this link
https://etherscan.io/address/0xf908dcd35129fefb01d39685425eca88c3a8a506#writeContract

2. click connect to web3
3. scroll down to 18. redeem
![image](https://user-images.githubusercontent.com/704096/119231077-daffe000-bad3-11eb-9f62-224f273970cf.png)
4. put 5537047207017 in the reemTokens
5. click write

we will reimburse your gas fee

[2021-05-22 15:05] vladyslav2 commented on #56
@Humbley1984

please do this:

1. open this link
https://etherscan.io/address/0xf908dcd35129fefb01d39685425eca88c3a8a506#writeContract

2. click connect to web3
3. scroll down to 18. redeem
![image](https://user-images.githubusercontent.com/704096/119231077-daffe000-bad3-11eb-9f62-224f273970cf.png)
4. put 16594940735317 in the reemTokens. `16594940735317` !!!
5. click write

we [reimbursed](https:

[2021-05-22 15:06] vladyslav2 commented on #46
@havingfun-maybe https://etherscan.io/tx/0xa70c97c3d7ce06595feeb8c854cd52d64af3e8258dfc430a04d7d2b46253f396 send you eth for gas fee

[2021-05-22 15:36] havingfun-maybe commented on #46
hi. i get this error message when i click on Write.

![image](https://user-images.githubusercontent.com/83849319/119232100-89fae680-bae9-11eb-9b6c-df9b071c3e52.png)

[2021-05-22 16:25] vladyslav2 commented on #46
@havingfun-maybe make sure you are connected to metamask first
![image](https://user-images.githubusercontent.com/704096/119233851-aabe3e80-badf-11eb-8fb6-057198e77bae.png)

=>
![image](https://user-images.githubusercontent.com/704096/119233841-a4c85d80-badf-11eb-9709-2f2c73e1040e.png)

[2021-05-22 17:12] havingfun-maybe commented on #46
ok, i did confirm through metamask that i was connected the first time, but it threw the error.
the second time worked, and i now have the 1100+ tokens back in my metamask wallet.

what caused this issue to begin with? if i did something wrong, i would like to know so i don't do it again.

[2021-05-23 11:10] hskainth commented on #25
@ReluctantHodler  this has been implemented, please close ticket. -

![etherscan1](https://user-images.githubusercontent.com/81052004/119258007-ce58b600-bbbf-11eb-9164-a5653618886d.JPG)

[2021-05-24 08:55] vladyslav2 commented on #66
@AgentGeeJayCee can you please send tx id here?

[2021-05-24 13:12] hskainth commented on #10
@LearnPolkadot this has been implemented and can now be closed.

[2021-05-24 13:32] hskainth commented on #11
This has been implemented, closing issue.

![image](https://user-images.githubusercontent.com/81052004/119355106-c6bb0f00-bc9c-11eb-9fd3-5b683abd5db8.png)

[2021-05-24 13:53] #10 closed

[2021-05-24 14:59] #11 closed

[2021-05-24 15:01] hskainth commented on #18
Issue #360 verified as implemented and closed internally. Closing issue

[2021-05-24 15:01] #18 closed

[2021-05-24 15:09] hskainth commented on #19
Issue #361 verified as implemented internally, closing issue.

[2021-05-24 15:09] #19 closed

[2021-05-24 15:10] hskainth commented on #20
Issue #362 verified as implemented internally, closing issue.

[2021-05-24 15:10] #20 closed

[2021-05-24 15:37] hskainth commented on #22
Verified internally as implemented, closing issue.

[2021-05-24 15:37] #22 closed

[2021-05-24 15:40] hskainth commented on #23
Verified as fixed, closing issue.

[2021-05-24 15:40] #23 closed

[2021-05-24 15:43] tone440 commented on #47
@vladyslav2 Can you please update on this?

[2021-05-24 16:18] #25 closed

[2021-05-24 19:42] AgentGeeJayCee commented on #66
Hi, I didn't realise that you had to enable payback as one transaction,then pay back as a second transaction. My fault,apologies

[2021-05-24 23:20] rwaynejoyce opened #69 "Max Withdrawal limits for staked ersdl and ETH"
Recently tried to withdraw ETH - with 2 ETH staked, was only able to withdraw 0.89 ETH or 45% of the dollar value. Tested to see how much ersdl i could withdraw and was able to withdraw about 53% of the dollar value. Is this right? I was recently able to withdraw all of my stablecoin (DAI and USDC)

Current supply balance is $7.91k, current borrow balance - $712.21

ETH supply balance is $5,211.07

[2021-05-25 11:48] vladyslav2 commented on #47
@itamarl how does argent controls users eth addresses?
in transaction provided by @tone440 has different eth address

Does argent acts as a proxy? or does argent provides stack of the addresses to the user?

[2021-05-25 12:41] itamarl commented on #47
@vladyslav2 it’s a smart contract wallet (like a multisig) so it uses meta-trx. So trx.origin is our relayer and msg.sender is the user

[2021-05-25 16:57] Director08 opened #70 "[resolved] claim rewards button not working until clearing cache"
**Describe the bug**
Another user and I both experienced this issue. When attempting to claim rewards, the "claim" button was unresponsive. Wondering if this was a browser specific issue, I attempted to claim rewards with Microsoft Edge, in addition to Chrome. Both browsers experienced the issue. Prior to submitting this to Github, I decided to clear my cache to see if that would fix the issue and

[2021-05-26 12:40] hskainth commented on #70
Internal issue #561 already raised internally for this.

[2021-05-26 17:55] tone440 commented on #47
@vladyslav2 Can you tell me how long will this take? Do you need help from me to find the transactions?

[2021-05-27 05:55] Ronaldinho86 opened #71 "Liquidated but still showing borrowed ersdl"
Shouldn’t the borrowed ersdl be paid back once I was liquidated? I’m still showing borrowed ersdl. Do I still owe what is borrowed? I was liquidated on 5/23/2021. My wallet address is

0xFD61E052E935D11F0D35a96CeC160348a8E1E35A

![Capture](https://user-images.githubusercontent.com/84891964/119769500-6b8d4600-be6f-11eb-8c6d-b16f458f8922.PNG)

Above is my up to date account on the platform. All of t

[2021-05-27 09:21] hskainth commented on #68
`Interest earned/accrued is automatically compounded per block. Completing any transaction (including withdrawal/repayment) requires a certain amount of blocks. While the transaction is being completed, new interest is going to be computed over the course of this operation. In the case of ETH, this is the fraction of the smallest decimal thus so-called “dust” is created.
ETH “dust” presents itself

[2021-05-27 09:21] #68 closed

[2021-05-27 09:25] #57 closed

[2021-05-27 09:26] hskainth commented on #42
`Interest earned/accrued is automatically compounded per block. Completing any transaction (including withdrawal/repayment) requires a certain amount of blocks. While the transaction is being completed, new interest is going to be computed over the course of this operation. In the case of ETH, this is the fraction of the smallest decimal thus so-called “dust” is created.
ETH “dust” presents itself

[2021-05-27 09:26] #42 closed

[2021-05-27 13:35] hskainth commented on #21
Closing issue as will not be implemented.

[2021-05-27 13:35] #21 closed

[2021-05-27 13:37] #26 closed

[2021-05-27 15:48] hskainth commented on #33
Internal issue closed as fixed.

[2021-05-27 15:48] #33 closed

[2021-06-01 00:02] dh3699 opened #72 "Question mark where my rewards used to be."
**Describe the bug**
A clear and concise description of what the bug is.
Question mark at the top of my screen where my rewards used to be. I have tried desktop and mobile versions, tried clearing the cache, tried completely uninstalling the browser and metamask and none of that has worked so far. In need of help to solve this problem.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '..

[2021-06-01 11:42] hskainth commented on #72
internal issue 566 already raised for this issue on mobile only.

[2021-06-01 19:59] dh3699 commented on #72
How can I fix it?

[2021-06-01 21:50] tone440 commented on #47
@vladyslav2 @harv-singh @ryanmmmmm
I was told by Sam that this is requiring “additional time to vet and investigate the circumstances as both parties were involved”.
can you please explain this? How was @itamarl Argent “involved”?
It seems the bug on your dapp was found and fixed. And it would seem you’ve had ample time to investigate. Please respond - I have not heard anything since May 24.

[2021-06-02 09:58] hskainth commented on #69
@rwaynejoyce Please check markets page to see if there was sufficient supply available on platform for tokens.

[2021-06-02 09:59] hskainth commented on #66
Closing as non issue as per above comment

[2021-06-02 09:59] #66 closed

[2021-06-02 10:03] hskainth commented on #59
Interest earned/accrued is automatically compounded per block. Completing any transaction (including withdrawal/repayment) requires a certain amount of blocks. While the transaction is being completed, new interest is going to be computed over the course of this operation. In the case of ETH, this is the fraction of the smallest decimal thus so-called “dust” is created. ETH “dust” presents itself

[2021-06-02 10:03] #59 closed

[2021-06-02 10:04] hskainth commented on #58
Interest earned/accrued is automatically compounded per block. Completing any transaction (including withdrawal/repayment) requires a certain amount of blocks. While the transaction is being completed, new interest is going to be computed over the course of this operation. In the case of ETH, this is the fraction of the smallest decimal thus so-called “dust” is created. ETH “dust” presents itself

[2021-06-02 10:04] #58 closed

[2021-06-02 10:05] hskainth commented on #56
Closing issue as resolved, gas fee reimbursed as resolution.

[2021-06-02 10:05] #56 closed

[2021-06-02 10:11] hskainth commented on #50
@bojo777 please confirm this has been resolved and issue can be closed.

[2021-06-02 10:13] hskainth commented on #46
Closing issue as resolved

[2021-06-02 10:13] #46 closed

[2021-06-02 10:15] hskainth commented on #45
closing as non issue

[2021-06-02 10:15] #45 closed

[2021-06-02 10:42] hskainth commented on #32
Interest earned/accrued is automatically compounded per block. Completing any transaction (including withdrawal/repayment) requires a certain amount of blocks. While the transaction is being completed, new interest is going to be computed over the course of this operation. In the case of ETH, this is the fraction of the smallest decimal thus so-called “dust” is created. ETH “dust” presents itself

[2021-06-02 10:42] #32 closed

[2021-06-02 11:57] hskainth commented on #44
@lukenathan91 please proceed with transaction and provide transaction ID, we will re-imburse the gas

[2021-06-04 14:46] Mrmiah98 opened #73 "Can't Access LP stake"
I am not able to access my staked LP tokens through the unfederal reserve site with my Trust Wallet.
I have tried multiple different devices and browsers and tried in other people's houses using different WiFi and mobile network. No success. The tokens show up on apy.vision
I have liaised with one of the telegram admins, Benn and he raised the issue to the team and wasn't able to solve the problem

[2021-06-04 14:56] #60 closed

[2021-06-04 15:49] hskainth commented on #73
@Mrmiah98 what is your ETH address?

[2021-06-04 15:51] hskainth commented on #71
@Ronaldinho86 version is not fully supported on mobile yet as mentioned prior to release.

[2021-06-04 16:12] Mrmiah98 commented on #73
0xAAFE14B4CA6D1f81FE1720D04e1A1438C829A24C

That's eth address I used to to stake.

[2021-06-04 16:23] hskainth commented on #73
@Mrmiah98 Just to be clear -

- LP tokens are staked, these can only be accessed back in your wallet once you have un-staked
- The staked tokens will show up here [Menu > Select UnFederalReserve eRSDL] -

![image](https://user-images.githubusercontent.com/81052004/120832963-1d580100-c559-11eb-89fa-eb902d5e5b39.png)

Sounds like you are trying to access LP tokens that have already been staked but h

[2021-06-04 16:31] ryanmmmmm commented on #73
i see
<img width="768" alt="Screen Shot 2021-06-04 at 9 31 23 AM" src="https://user-images.githubusercontent.com/705959/120834283-a9e1cf80-c517-11eb-8550-4d6410370c82.png">

 tokens here:

https://etherscan.io/address/0xf8377270af0c864d2b3bab73bb16c65b05767549#readContract

<img width="781" alt="Screen Shot 2021-06-04 at 9 30 41 AM" src="https://user-images.githubusercontent.com/705959/120834202-9

[2021-06-04 16:38] ryanmmmmm commented on #73
I would suggest using etherscan to withdraw then to see if that works?
https://etherscan.io/address/0xf8377270af0c864d2b3bab73bb16c65b05767549#writeContract

<img width="1330" alt="Screen Shot 2021-06-04 at 9 35 53 AM" src="https://user-images.githubusercontent.com/705959/120834727-473d0380-c518-11eb-8498-3f72269a6881.png">

PID is always 13.

you connect your wallet here:

<img width="901" alt="S

[2021-06-04 16:39] Mrmiah98 commented on #73
Thank you

I know they're there, the issue I can't access my staking through the ersdl site to claim rewards and unstake. When I connect my wallet it says my ersdl balance is 0.00 but I know I have some in my wallet.

[2021-06-04 16:39] Mrmiah98 commented on #73
Can I unstake and claim rewards through etherscan?

[2021-06-04 16:42] Mrmiah98 commented on #73
Can you please raise this internally so I can unstake my coins? Thank you

[2021-06-04 16:50] hskainth commented on #73
Internal issue 609 raised.

[2021-06-05 03:23] Ronaldinho86 commented on #71
I understand that. I know I'm screwed about the liquidation. Why am I still showing borrowed ersdl when I was liquidated? I originally had 47k ersdl supplied. I borrowed 17k ersdl. Once I was liquidated; all of my supplied ersdl went to zero. But my borrowed supplied still stayed the same. Shouldn't have the borrowed ersdl went to zero? I shouldn't have to pay back the borrowed ersdl since I was a

[2021-06-05 10:26] hskainth commented on #73
@Mrmiah98 do you have a transaction hash you could provide us for your attempt to unstake?

[2021-06-05 21:04] Mrmiah98 commented on #73
I am not able to access the coins at all so haven't put through an unstake transaction

[2021-06-07 09:53] hskainth commented on #73
@consta-l  terms still not visible -

![image](https://user-images.githubusercontent.com/81052004/120996813-94221380-c77e-11eb-9e91-c9b2a99dbb4c.png)

[2021-06-07 16:57] Mrmiah98 commented on #73
Is there any updates on this please?

[2021-06-07 21:46] hskainth commented on #73
@Mrmiah98 we will update ticket once internal issue has been resolved.

[2021-06-11 03:38] Derkaschnub opened #74 "Cannot withdraw ETH from platform, nor fully repay a borrow"
**Describe the bug**
I am supplying approx 0.5 ETH and want to withdraw it. When I try to withdraw "max" and confirm through metamask, the transaction is "successful" on etherscan yet no ETH has moved from the platform to my wallet.

Additionally, when I try to shift the smileyface for ETH collateral to off, i recieve the message "You are borrowing this asset. In order to exit market you have to r

[2021-06-11 11:25] hskainth commented on #74
Interest earned/accrued is automatically compounded per block. Completing any transaction (including withdrawal/repayment) requires a certain amount of blocks. While the transaction is being completed, new interest is going to be computed over the course of this operation. In the case of ETH, this is the fraction of the smallest decimal thus so-called “dust” is created. ETH “dust” presents itself

[2021-06-11 11:25] #74 closed

[2021-06-11 17:13] Mrmiah98 commented on #73
Hi could you please update me ASAP. I am losing a lot ETH as my tokens stay in the LP

[2021-06-13 00:32] Derkaschnub commented on #74
I am still not able to withdraw anything from my supplied assets. The platform allows me to complete withdraw transactions and use gas, yet no funds are moving.

https://etherscan.io/tx/0x4455c1ae8a3d085c68ed6115eac4c5c0606fc45b674cca4fa8b20f3cb599f0e6

Here is my latest attempt. As you can see, the value is 0 ETH, although the platform previewed the value as 0.5 ETH

[2021-06-14 15:10] hskainth commented on #73
@Mrmiah98  You can also try via etherscan:
https://etherscan.io/address/0xf8377270af0c864d2b3bab73bb16c65b05767549#writeContract
function deposit with 13 passed as pid and 0 as amount

<img width="680" alt="scan" src="https://user-images.githubusercontent.com/81052004/121915276-fb196c80-cd2a-11eb-8aff-25e7192edd6f.png">

[2021-06-14 18:00] Mrmiah98 commented on #73
Thank you. I've done that and it has claimed my eRSDL staking rewards. Now how do I remove my LP Tokens from staking as I still can't access them through the website?
Thanks again

[2021-06-14 21:30] hskainth commented on #73
@Mrmiah98 Same place, different method: withdraw:
pid = 13
amount = 4837288879401828316

Amount is taken from the https://etherscan.io/address/0xf8377270af0c864d2b3bab73bb16c65b05767549#readContract
function userInfo

[2021-06-15 09:09] Mrmiah98 commented on #73
Thanks for all your help. Really appreciate. All done now

[2021-06-15 09:09] #73 closed

[2021-06-15 16:25] SpitStonks opened #75 "LP stuck in old staking farm"
Every time I try to connect my wallet through app.unfederalreserve.com/farms to remove my LP and rewards, it gets stuck on the loading screen and never changes. When I click my wallet in the top right, it shows 0s across the board, but the view on etherscan button takes me right to the correct wallet address 0xcAC9946443BDAb6058676925d2D2Ed9024d478e3. Anyone know what's happening here or how I can

[2021-06-15 16:43] jindeed opened #76 "KuCoin - Marketing Initiative"
Campaign starts on June 15th through June 26nd.

Deniz is point of contact for KuCoin.  Sam manages community outreach.

[2021-06-15 16:46] jindeed opened #77 "CONTENT WRITING:"
All requests for content writing should be streamlined and go through Patty. There should only be one point of contact to work with Josiah.

[2021-06-15 18:22] tdizzletheschizzle opened #78 "Supplied asset incorrectly showing $0 APY earned"
**Describe the bug**
On lending.unfederalreserve.com, it shows $0 for APY earned in the 'my supply's section.  This is only for ETH (eRSDL and USDC are showing correctly).  This seems to be new and was not the case last time I checked.  My ETH has been supplied since right after product launch.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to lending.unfederalreaerve.com
2. Click on
3.

[2021-06-16 02:32] joemk88 opened #79 "Supplied APY incorrectly showing $0"
Describe the bug
On lending.unfederalreserve.com, it shows $0 for APY earned in the 'my supply's section. This is only for ETH (wBTC is showing correctly). This seems to be new and was not the case last time I checked. My ETH has been supplied for about a week.
The balance seems correct (still accumulating interest and rewards, just not displaying correctly)

To Reproduce
Steps to reproduce the be

[2021-06-16 09:22] hskainth commented on #75
@SpitStonks please see comments in closed bug #73 simply replace values with the values found in your contract you should be able to get your LP back via this.

[2021-06-16 17:47] SpitStonks commented on #75
Thank you, that worked wonders and even though it was the first time I've worked through etherscan, it went through smooth as butter. Appreciate your help.

[2021-06-16 17:47] #75 closed

[2021-06-16 20:36] AgentGeeJayCee opened #80 "Cannot repay eRSDL loan via Argent Wallet"
**Describe thebug
Trying to repay loan via Argent wallet. Trx goes through but loan not repaid.
**To Reproduce**
Steps to reproduce the behavior:
1. Approve amount to pay on Argent
2. Set limit to pay
3. Input amount to pay on Argent
4. Wait for trx to go through
5. Trx successful on etherscan but loan
Not repaid and gas fee taken

**Expected behavior**
Loan to be repaid
**Screenshots**
![image](h

[2021-06-16 20:38] AgentGeeJayCee commented on #80
![image](https://user-images.githubusercontent.com/84189864/122289961-2d71c800-ceeb-11eb-9d6e-529ecc3e9f5c.png)

[2021-06-17 10:30] AgentGeeJayCee commented on #80
Resolution found, please close

[2021-06-17 17:53] hskainth commented on #80
Closing issue as resolved.

[2021-06-17 17:53] #80 closed

[2021-06-17 18:52] AgentGeeJayCee opened #81 "Cant pay max final balance"
**Describe the bug**
I can't pay final balance on platform. I owe 1.01xxxxxxxx of ersdl. I pre-authorised 10 ersdl and paid gas fee. I got to repay balance, press max repay but it goes to pre authorisation again. I can repay anything under the maximum but not the whole lot. I can't keep chucking gas fees at it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to repay loan
2. on Argent wal

[2021-06-17 19:02] stinkycubert opened #82 "unique issue unstaking USDC from lending platform"
Hey guys! I have talked extensively to a few mods on the telegram about this and tried to the obvious solutions, but none have worked so far.

Yesterday I decided to take my USDC out of My Supply. My transaction was successful, but it did not move to my wallet and instead remained in My Supply on the dapp. I have tried a total of 4 times now. Each time the transaction succeeds, my eth is paid, and

[2021-06-18 05:41] AgentGeeJayCee commented on #81
I've got balance down to 0.00000033994067. Again when I press max, it won't let me pay off but if I put 0.00000033994066 I can pay that. I thought dust bug had been fixed? Its cost me nearly $100 to get this far,its getting ridiculous. I can't keep paying gas fees to get it down to 0.00000000000000001. I need to unstake and get my ersdl back.

[2021-06-18 11:56] hskainth commented on #82
Internal issue #672 raised for this to investigate.

[2021-06-18 12:17] hskainth commented on #82
@stinkycubert  it appears as there was not enough USDC on platform to withdraw -

![image](https://user-images.githubusercontent.com/81052004/122559594-7040b680-d037-11eb-9230-8f4c53c5dfe3.png)

[2021-06-18 13:01] #82 closed

[2021-06-18 20:04] hskainth commented on #69
closing as non issue.

[2021-06-18 20:04] #69 closed

[2021-06-18 20:06] hskainth commented on #50
Closing as resolved as no response for over 2 weeks from user.

[2021-06-18 20:06] #50 closed

[2021-06-18 20:07] hskainth commented on #44
Closing as resolved as no reply from user for over 2 weeks.

[2021-06-18 20:07] #44 closed

[2021-06-18 20:11] hskainth commented on #70
bug 561 resolved internally, closing as fixed.

[2021-06-18 20:11] #70 closed

[2021-06-18 20:13] hskainth commented on #78
@tdizzletheschizzle what do you see when you hover over the value?

[2021-06-18 20:17] hskainth commented on #79
@joemk88 Supply APY at time of writing is 2.04% on platform your rewards, what is the value shown when you hover over the displayed value?

[2021-06-18 21:00] #81 closed

[2021-06-18 22:43] rwaynejoyce commented on #69
Thank you - apologies I was not using your platform correctly

On Fri, Jun 18, 2021 at 4:04 PM Harinder ***@***.***> wrote:

[2021-06-20 00:32] joemk88 commented on #79
The issue has been fixed. It's currently showing 2.24% and reflecting correct dollar amount of APY earned.
Cheers

[2021-06-20 13:32] hskainth commented on #79
Closing issue as fixed.

[2021-06-20 13:32] #79 closed

[2021-06-20 13:41] hskainth commented on #72
Closing as fixed rewards now show on side panel for mobile.
![image](https://user-images.githubusercontent.com/81052004/122676326-956b2b80-d1d5-11eb-9b06-80fbf1f36a63.png)

[2021-06-20 13:41] #72 closed

[2021-06-21 16:28] tdizzletheschizzle commented on #78
The display bug seemed to resolve itself (an amount was showing finally), and I moved all ETH off the platform so I can't report any further.  However, I will say that I'm now experiencing the same issue with my supply of eRSDL.  The APY earned is displaying $0.

[2021-06-21 18:57] hskainth commented on #78
Internal issue 687 raised.

[2021-06-22 02:42] HKrieger55 commented on #47
I appreciate everyone's effort trying to resolve this issue. Everything looks documented.  Any further investigation, might be considered tampering at this point, so let's hold off on anything further.  Thanks for the hard work and for trying to do the right thing.

[2021-06-22 02:43] HKrieger55 commented on #47
@ryanmmmmm you are going to handle direct communication with Tom Ace. Have a good night.

[2021-06-22 11:11] Deewil opened #83 "Can't connect Trust Wallet via Wallet Connect"
**Describe the bug**
Can't connect Trust Wallet to Lending Platform via wallet connect

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Lending Platform
2. Click on 'Connect Wallet
3. Scan QR code
4. See error

**Expected behavior**
Error Message

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot_20210622-094458](https://user-images.githubusercont

[2021-06-22 11:23] hskainth commented on #83
Linked to internal issue 691

[2021-06-23 16:04] PattyUnfed commented on #76
Social posts up, reshared KuCoin announcement. Awaiting campaign analytics from KuCoin to see performance.

[2021-06-24 14:10] #77 closed

[2021-06-24 14:27] #76 closed

[2021-06-25 15:26] ryanmmmmm opened #84 "Update Product Roadmap with latest june 30th updates."
Business

We need to update the roadmap

[2021-06-25 15:31] ryanmmmmm commented on #84
Is your feature request related to a problem? Please describe.

We need to update our roadmap to accurately reflect more detailed product names and alignment, communicating this clearly to the community. The last update was march!

the update is still moderately aligned no large surprizes just more details for q3/q4.

Describe the solution you'd like

take this sheet and integrate into the website

[2021-06-25 15:32] ryanmmmmm commented on #84
@HKrieger55 @sovereignself @addvalueorbesubtracted @PattyUnfed @consta-l @b1ckchn

[2021-06-25 15:33] ryanmmmmm commented on #84
also the CEO ask is for June 30th to align with end of Q2, please comment after scoping and resourcing that this can be done @consta-l

[2021-06-25 15:40] PattyUnfed commented on #84
Spoke w/ @Howard Krieger ***@***.***> and we will simply
announce there are updates to our roadmap and link to it on our site. There
isn't a need to post what the changes are since it might cause more FUD.
Once the roadmap changes are made on the site, I will announce on socials.

On Fri, Jun 25, 2021 at 8:33 AM Ryan Medlin ***@***.***>
wrote:

[2021-06-28 04:39] consta-l commented on #84
relates to [#739](https://github.com/UnFederalReserve/general/issues/739) in general repo

[2021-06-29 13:15] hskainth commented on #31
Enhancement implemented internally, closing as resolved.

[2021-06-29 13:15] #31 closed

[2021-06-29 13:36] hskainth commented on #67
@charlesbaby

Please check there is enough ETH available on the platform to withdraw the amount you need. Remember there must be sufficient ETH retained to counteract the minimal dust remaining.

[2021-06-29 20:45] Faisven22 opened #85 "Not earning eRSDL since claiming rewards"
Hello I have a problem with the lending platform

I'm staking since release

Two weeks ago I repaid my ersdl loan and withdrawed my earnings

But I am suppling wbtc and eRSDL since the start and I don't earn anything since I withdraw my rewards two weeks ago

I know the APY is low for ersdl but I assume 2 weeks would be a minimum of 0.1 ersdl I am supplying nearly 30k ersdl and 0,03 WBTC

I don´t

[2021-06-30 01:17] theemrbucky opened #86 "Adding to staking overwrote the previous balance and earnings."
**Describe the bug**
I added funds to my staking account and it overwrote the previous stake earnings and deposit. I don't remember what the previous balance was unfortunately but I know it wasn't what was showing currently.

**Expected behavior**
I thought my additional funds would just be added to the current balance and displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...

[2021-06-30 08:26] hskainth commented on #85
@Faisven22 What value do you see when you hover the mouse over the eRSDL APY/Earned value?

[2021-06-30 08:38] hskainth commented on #24
This was resolved in a different manner after review by adding the CLAIM balance in the button to avoid any confusion. Closing as implemented see below screenshot.

![image (2)](https://user-images.githubusercontent.com/81052004/123929637-ea9dfe80-d986-11eb-9f5d-32164f790383.png)

[2021-06-30 08:38] #24 closed

[2021-06-30 10:16] harv-singh commented on #86
749 Issue internally raised

[2021-06-30 10:51] Faisven22 commented on #85
i don´t see any value, only on Wbtc and the ETH dust

________________________________
Von: Harinder ***@***.***>
Gesendet: Mittwoch, 30. Juni 2021 10:26
An: UnFederalReserve/community ***@***.***>
Cc: Faisven22 ***@***.***>; Mention ***@***.***>
Betreff: Re: [UnFederalReserve/community] Not earning eRSDL since claiming rewards (#85)

@Faisven22<https://github.com/Faisven22> What value do you see

[2021-06-30 11:03] hskainth commented on #71
@Ronaldinho86  liquidation was done on the USDT, eRSDL was never repaid so will rightly shows as borrowed. Closing issue.

2 liquidations done:
Repaid 8210 usdt, seized 64914 ersdl
Repaid 5998 usdt, seized 6484 usdt

[2021-06-30 11:03] #71 closed

[2021-06-30 16:14] hskainth commented on #38
This has been implemented internally. Closing issue.

[2021-06-30 16:14] #38 closed

[2021-07-02 10:07] hskainth commented on #85
@Faisven22  in the tool tip pop up as below ?

![image](https://user-images.githubusercontent.com/81052004/124258771-aeed6b00-db25-11eb-9b62-f95ee6a2a3b7.png)

[2021-07-04 23:27] Faisven22 commented on #85
![image](https://user-images.githubusercontent.com/84814475/124402343-f8a9a180-dd2f-11eb-9680-5b5c688d5caf.png)

as you can see on the screenshot it shows zero

[2021-07-05 20:51] hskainth commented on #85
Internal issue 772 raised to investigate.

[2021-07-07 07:44] MaxCJ7 commented on #75
Hello, I'm having the same issue and am going to try this... what do you mean by the values found in my contract?

[2021-07-07 07:45] MaxCJ7 commented on #75
@hskainth Please see comment I left above - I see how to do it on Etherscan but am not entirely sure what values to input

[2021-07-07 14:32] Faisven22 commented on #85
it was only an UI bug, maybe you can fix this but no mayor problem i will close this ticket now thx anyways:)

[2021-07-07 14:32] #85 closed

[2021-07-08 09:01] hskainth commented on #78
@tdizzletheschizzle how much eRSDL did you supply?

[2021-07-08 11:50] hskainth commented on #86
@theemrbucky Closing issue as adding additional LP tokens harvests current rewards at the same time.

[2021-07-08 11:50] #86 closed

[2021-07-08 23:16] paulmc90 opened #87 "Lending platform will not load"
**Describe the bug**
When i click to connect coinbase wallet on lending platform it gets stuck on the loading page (the boat screen). Sometimes it gets to the QR code, when i scan the QR code on my phone my wallet connects but the QR code scan box does not remove itself from the page and it cannot be closed, at this point i cannot get any further. My phone confirms my wallet is connected but the l

[2021-07-09 14:07] tdizzletheschizzle commented on #78
Approx 330K eRSDL

[2021-07-12 17:25] hskainth commented on #87
@paulmc90 are you still experiencing this?

[2021-07-12 17:29] paulmc90 commented on #87
Yeah this is still going on, I have found that it works properly when using Incognito mode on google chrome.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: ***@***.***>
Sent: July 12, 2021 10:25 AM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [UnFederalReserve/community] Lending platform will not load (#87)

@paulmc90<https://github.com/paulmc

[2021-07-13 22:25] CryptoBiased opened #88 ""Max" button during supply / deposit is malfunctioning"
**Describe the bug**
The "MAX" button on both SUPPLY features (lending homepage AND /market-details) for assets is failing.  The button currently maxes out at current available market liquidity rather than available wallet balance.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://lending.unfederalreserve.com/market-details/USDT'
2. Click on 'MAX' with wallet connected and USDT

[2021-07-14 04:30] ryanmmmmm commented on #88
deposits DO 100% vwork however this is a max button issue...  will get addressed today

[2021-07-14 09:16] hskainth commented on #88
Internal bug 798 raised to investigate this issue.

[2021-07-14 09:38] hskainth commented on #87
Internal issue 800 raised to investigate this.

[2021-07-19 12:05] hskainth commented on #88
Bug 798 verified as fixed internally. Closing issue

[2021-07-19 12:05] #88 closed

[2021-07-20 02:52] Derkaschnub opened #89 "Cannot ETH withdraw supply back to wallet"
Describe the bug

ETH Dust: Because the platform does not allow me to repay the remaining 0.0000000000001 ETH that I have borrowed, I am not able to withdraw my supplied ETH.

To Reproduce
Steps to reproduce the behavior:

Go to "My Supply" (currently 0.5 ETH)
Click on 'ETH'
Click on "withdraw"
Click on "max", displayed amount shows as approx 0.5 ETH as expected
Click on "confirm"
Metamask confirm

[2021-07-20 16:09] hskainth commented on #87
This worked fine when tested internally both incognito and normal mode.

Closing issue as unable to reproduce and user is able to log in using icognito mode.

[2021-07-20 16:09] #87 closed

[2021-07-20 16:12] hskainth commented on #89
@Derkaschnub as mentioned before please try to withdraw an amount that is not max and an amount less than what is staked against borrowed. This will work.

[2021-07-20 22:46] Derkaschnub commented on #89
sounds good thanks

[2021-07-20 22:46] #89 closed

[2021-07-20 22:49] hskainth commented on #67
Closing issue as no response from user in over 20 days, query answered above.

[2021-07-20 22:49] #67 closed

[2021-07-20 23:02] hskainth commented on #83
Closing issue as fixed internally.

[2021-07-20 23:02] #83 closed

[2021-08-01 01:08] hskainth commented on #78
@tdizzletheschizzle if you try CTRL, SHIFT and R , do you still see this issue?

[2021-08-01 01:08] hskainth commented on #78
We have tried on both internal and live environments and it is generating fine for us.

[2021-08-09 03:27] 600feetup opened #90 "Can't connect to lending.unfederalreserve.com via Trust Wallet"
When trying to connect my trustwallet to the lending site via walletconnect i cannot achieve a connection.

1. I go to lending.unfederalreserve.com on a browser on my mac.
2. Select 'walletconnect" to unlock wallet (QR Code pops up)
3. open Trustwallet on my phone: go to settings: select walletconnect.
4. Scan the barcode using trustwallet:walletconnect
4. hit the 'New Connection " button
5. The W

[2021-08-09 03:45] ryanmmmmm commented on #90
@hskainth lets touch base on this issue when u get in.. i tried it on android and chrome and it worked ok.. i do not have iphone here can u test using similar devices as this person and let us know? thanks!

[2021-08-09 03:47] ryanmmmmm commented on #90
@600feetup  do u have information on your friends settings that do not work as well? that may be useful too..thanks for such a detailed ticket

[2021-08-09 14:45] 600feetup commented on #90
@ryanmmmmm will do. waiting on him getting back to me

[2021-08-09 14:58] 600feetup commented on #90
My wife has two iphones, both running ios 14.7.1 and both with the latest version of TrustWallet 6.3 (635). I've tried both phones with the same result. My son has the same setup on his phone and is also getting the same.

[2021-08-09 15:13] Jag1899 commented on #90
This has been raised internally and is being investigated.
https://github.com/UnFederalReserve/development/issues/952

[2021-08-09 15:51] 600feetup commented on #90
Two friends having the same problem.
Friend 1 : using iphone ios v14.7.1 TrustWallet version 6.2(6227)

Friend 2 : using iphone ios 14.4.1 and TrustWallet 5.21(5210)

[2021-08-16 08:45] Jerrryrybon commented on #90
You need to contact Trust Wallet support team directly. Make a complaint and have all your issues resolved by the support team. Follow the link to contact Trust Wallet team. They are fast and reliable.                                               https://form.jotform.com/212256441779057

[2021-08-16 08:46] Jerrryrybon commented on #90
You need to contact Trust Wallet support team directly. Make a complaint and have all your issues resolved by the support team. Follow the link to contact Trust Wallet team. They are fast and reliable.                                               https://form.jotform.com/212256441779057

[2021-08-16 23:38] ryanmmmmm commented on #90
we are continuing to test iphones.. we will keep reporting back this week with our head of QA @hskainth

[2021-08-17 22:10] suntzuwong opened #91 "Cannot withdraw eRSDL from lending page"
**Describe the bug**
A clear and concise description of what the bug is.
Cannot withdraw eRSDL from lending page. Did the tx twice and nothing.
If i try to do whole number the button is greyed out

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...' https://lending.unfederalreserve.com/
2. Click on '....' Under SUPPLY, click on eRSDL
3. Scroll down to '....' Click WITHDRAW, MAX, WITHD

[2021-08-19 10:51] harv-singh commented on #91
Hi @suntzuwong just wanted to confirm the issue here:
- Were you able to withdraw eRSDL in the end?
- Was the issue that the Supply button being greyed out?

Thanks

[2021-08-19 10:56] hskainth commented on #90
Issue fixed with latest release please retry, verified as connected on iphone see screenshots below. Closing issue as fixed.
![Screenshot 2021-08-18 at 17 58 06](https://user-images.githubusercontent.com/81052004/130057219-b97102f8-2fec-4aa1-8b09-9a56b319df83.png)
![Screenshot 2021-08-18 at 17 57 47](https://user-images.githubusercontent.com/81052004/130057229-a5cb3d29-7cee-4a3b-9394-277a5a6ae183.

[2021-08-19 10:56] #90 closed

[2021-08-19 10:59] hskainth commented on #91
@suntzuwong this is not an issue, you have fractional eRSDL locked up against your ETH borrowing dust so you will not be able to withdraw complete amount, as you stated you were able to withdraw remaining amount.  Closing as non issue.

[2021-08-19 10:59] #91 closed

[2021-08-19 11:17] hskainth commented on #78
Closing issue as no response from user in over 2 weeks and issue not seen internally.

[2021-08-19 11:17] #78 closed

[2021-08-31 18:25] spcwmn opened #95 "Resolved"
Resolved! Thanks

[2021-09-02 13:19] hskainth commented on #95
Closing as resolved as per above comment.

[2021-09-02 13:19] #95 closed, assigned to nobody

[2021-09-05 22:18] Marialaina12 opened #96 "Problem Withdrawing Funds despite Shown Available Liquidity"
2 Issues actually:

1. I tried to remove my DAI from my account because I say 36K of liquidity was available. I willed out withdrawal form and clicked max and it looked like transaction was going through...it even got confirmed but no DAI in my wallet. Then I thought well maybe that was initial approval even though gas cost was $229 so I did the withdrawal transaction again and same thing....no DA

[2021-09-06 12:17] hskainth commented on #96
@Marialaina12

1. It appears that ETH loan was taken out against DAI as collateral hence a fractional amount would be required to remain to counteract against borrow ETH dust remaining below. Manually entering an amount minus ETH dust amount would have allowed liquidity to be withdrawn.

2. `Interest earned/accrued is automatically compounded per block. Completing any transaction (including withdr

[2021-09-06 12:17] #96 closed, assigned to nobody

[2021-09-07 13:15] Marialaina12 opened #97 "Problem Withdrawing Funds."
I am trying again to withdraw some of my DAI. But in MM when I go to confirm transaction...it shows I am withdrawing 0 ETH....and only the ETH fee.  There is liquidity present and I accounted for the "dust" from my previous ETH loan. I don't want to send transaction because the last two I sent showing a 0 ETH and only a gas fee on MM I didn't get any DAI.
Is it normal for 0 ETH to show in MM? I do

[2021-09-08 10:14] hskainth commented on #97
@Marialaina12 0 ETH means that user is not sending any ETH in this transaction, this is correct.

There should be no issues with withdrawing if there is enough liquidity available on the platform at time of withdrawal, currently platform shows the below available liquidity for Dai -

![image](https://user-images.githubusercontent.com/81052004/132495527-d9a50bc9-d2b8-41ab-8a0f-b74f7c97de56.png)

[2021-09-10 20:25] teamcryptousa opened #98 "Unable to access my assets on the platform."
**Describe the bug**
I normally link to UnFederalReserve lending platform via Trust wallet. I tried loggin in on 2 devices and it's saying "no assets supplied." I have the unfederalreserve assets in my wallet. Nothing is displaying on the platform.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A cle

[2021-09-10 23:57] hskainth commented on #98
@teamcryptousa thanks for reporting issue, internal issue 1209 has been raised for this.

[2021-09-11 18:38] fizzyfoss26 opened #99 "UnReserveLending Page showing "No assets supplied" but my rewards are still visible"
**Describe the bug**
UnReserveLending Page showing "No Assets Supplied" but my rewards are still visible
**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://lending.unfederalreserve.com/
2. Connect Coinbase Wallet
3. Under My Supply, see "No assets supplied"

**Expected behavior**
My full supply should show.

**Screenshots**
If applicable, add screenshots to help explain your probl

[2021-09-11 21:44] hskainth commented on #99
@fizzyfoss26 closing as duplicate of issue #98

[2021-09-11 21:44] #99 closed, assigned to nobody

[2021-09-11 23:27] fizzyfoss26 commented on #98
Any updates here?

[2021-09-11 23:32] teamcryptousa commented on #98
I still don’t have access today

Sent from my iPhone

[2021-09-16 17:28] hskainth commented on #98
@fizzyfoss26 @teamcryptousa are you still experiencing this as we cannot reproduce?

[2021-09-16 17:38] hskainth commented on #97
Closing issue as resolved as no response.

[2021-09-16 17:38] #97 closed, assigned to nobody

[2021-09-16 21:04] teamcryptousa commented on #98
No. It’s working now. Thanks for the follow up.

Sent from my iPhone

[2021-09-16 22:33] hskainth commented on #98
Closing issue as per above comment.

[2021-09-16 22:33] #98 closed, assigned to nobody

[2021-09-19 23:19] ryanmmmmm commented on #47
this can be closed..  a non standard bounty offered to person who submitted issue..

[2021-09-19 23:19] #47 closed

[2021-10-15 20:05] kontrapunkt88807 opened #100 "Can't see my supply ballance-Can't claim it back"
**Describe the bug**
07.05.2021 i put 871.031195088236149501 erdsl on supply and after few days when i connected my metamsk it's no longer avaliable.
on etherscan i can see i have 43,545.65350511uneRSDL which is 50:1 ratio to the native token which i deposited..
my etherscan adress is
0x7b70eb7eefa91ccb95ba2cc9da2d161f353f7155
where you can see it. please help me as i whis to put that behind me.

[2021-10-19 18:59] interl0per2 opened #101 "Can't withdraw eRSDL from supply side"
**Describe the bug**
I supplied approximately 34k eRSDL several months ago to the platform to earn interest. As that has been sunset, my tokens are now locked on the platform. I am unable to withdraw my tokens on the platform. I have had this issue before on another platform (because I regularly remove approvals for security purposes) where I was unable to withdraw tokens because I had removed the

[2021-10-20 02:07] hskainth commented on #100
@kontrapunkt88807 are you still seeing this issue? please try refreshing browser and ensure you are on ethereum mainnet

[2021-10-20 02:09] hskainth commented on #101
@interl0per2 could you please send me screenshot of the supply tab? On the platform token needs to be approved before it can be withdrawn.

[2021-10-20 02:39] interl0per2 commented on #101
![1](https://user-images.githubusercontent.com/92821671/138018980-2765bb50-9805-4d3b-98f6-0f9ee1845acb.PNG)
![2](https://user-images.githubusercontent.com/92821671/138018987-50517626-a5c2-45e3-8024-b2d94eb43b89.PNG)

1 - What my home screen looks like
2 - There is no ability to enter text in any field and "Withdraw" button is greyed out... I can't click anything.

[2021-10-20 02:40] interl0per2 commented on #101
![3](https://user-images.githubusercontent.com/92821671/138019135-360acedf-43ee-4b80-9ebb-de804704f3f4.PNG)

[2021-10-20 02:41] interl0per2 commented on #101
![4](https://user-images.githubusercontent.com/92821671/138019267-3cb00377-cc2b-42cd-9958-d107fc2bf156.PNG)

[2021-10-20 02:50] interl0per2 commented on #101
I understand that the token needs to be approved. I have the approvals in place, you don't have the area to write how much I want to withdraw. Tell me where I can specify how much to withdraw.

[2021-10-20 08:13] kontrapunkt88807 commented on #100
hello! Still nothing. Im on ethereum mainnet and connected my wallet but still nothing.

[2021-10-20 10:39] hskainth commented on #100
@kontrapunkt88807 you can use etherscan to withdraw in this instance via the below -

https://etherscan.io/address/0xf908dcd35129fefb01d39685425eca88c3a8a506#writeProxyContract
Connect to web3
20. redeem
Enter 4354565350511
Press Write

[2021-10-20 16:35] earthcallingmoon opened #102 "says i have no funds but i do, also wont let me see my lended funds or anything else"
i use metamask on a macbook with google chrome

connected to unfederal reserve lending,
i have connected in the past many times without issue and have unfederal reserve lended out on the platform, i also have more unfederal reserve in my wallet.

when i connect to unfed page now it connects me but says i have zero funds and also wont show me my staked/lended funds.

i cant unstake, i cant see fund

[2021-10-21 10:03] hskainth commented on #101
@interl0per2  Please try again.

[2021-10-21 10:05] hskainth commented on #102
@earthcallingmoon  Please try again.

[2021-10-25 12:12] jamesrilett opened #103 "funds stuck on platform fees charged"
**Describe the bug**
A clear and concise description of what the bug is.
I have tried to take my ersdl from the supply on the website 2 times, it shows as a success but the ersdl is still on the site and not in my wallet.
This has cost me nearly 100 dollers in fees already so i dont want to keep trying. i have withdrawn from the supply before and it worked but it wont anymore.

**To Reproduce**
St

[2021-10-25 17:19] hskainth commented on #103
@jamesrilett There is some outstanding debt left (as seen in screenshot and query below looks like eRSDL borrowed) withdrawing a slightly smaller amount should go through.

<img width="431" alt="2021-10-25 at 20 13 28" src="https://user-images.githubusercontent.com/81052004/138741186-e9683474-212a-40b9-bf84-74ece89abfe7.png">

[2021-10-25 18:26] jamesrilett commented on #103
Is that not an error on the platform? I payed the max amount when borrowing and shows I have nothing borrowed which has cost nearly 100 dollers up to date to try to withdraw.

[2021-10-26 20:58] earthcallingmoon commented on #102
issue still present

[2021-10-26 21:00] earthcallingmoon commented on #100
i have same issue. still no help

[2021-10-26 21:36] hskainth commented on #103
@jamesrilett raised an internal bug to triage will update once we have investigated.

[2021-10-27 17:39] hskainth commented on #102
@earthcallingmoon Please provide wallet and browser details.

[2021-11-03 16:56] earthcallingmoon commented on #102
browser, chrome, wallet i am keeping private, i shared with other tech support before and nothing was done.

[2021-11-03 20:20] teamcryptousa commented on #98
My supplied USDC isn't showing up in my wallet again. It's been going on
for a couple of days. This is the second time this has happened. Can you
please look at it?
My Wallet Address is:

0x9975653EcfA9a4409DC291E67Ba938C5B7366092

[image: image.png]

On Fri, Sep 10, 2021 at 4:57 PM Harinder ***@***.***> wrote:

[2021-11-03 21:02] hskainth commented on #98
@teamcryptousa this should now show.

[2021-11-03 21:05] teamcryptousa commented on #98
It's working now. Thank you.

On Wed, Nov 3, 2021 at 2:02 PM Harinder ***@***.***> wrote:

[2021-11-08 15:57] lindsaymatcham opened #104 "Staking Balance Showing As Zero"
Hi,

when connecting my coinbase wallet to the ersdl website the staked balance is showing as zero, despite the unersdl coins being in my coinbase wallet

my ersdl address is : 0x98f4AdCAa301FC99b93c1E727a00bb7301120060

I started staking back in May upon launch

can someone pls help?

[2021-11-08 16:12] hskainth commented on #104
@lindsaymatcham is your coinbase wallet on the ethereum mainnet network if connecting via coinbase app to unfederal reserve lending platform?

You can check this by opening the coinbase app and going to settings > Connections > Ethereum should be selected.

Please also try a hard browser reset CTRL  SHIFT  R

[2021-11-09 07:05] lindsaymatcham commented on #104
Hi,  yes it's set to Ethereum, and this is is still not working, I have a Mac computer and downloaded chrome and still no luck. Any ideas?

[2021-11-09 11:16] hskainth commented on #104
Internal issue #1695 raised to investigate this.

[2021-11-09 18:54] lindsaymatcham commented on #104
Thanks v much, but worried at this point so appreciate the help

[2021-11-10 16:57] lindsaymatcham commented on #104
Any luck on this pls?

[2021-11-10 18:24] vladyslav2 commented on #104
@lindsaymatcham can you clarify are you talking about https://lending.unfederalreserve.com/ or about  https://app.unfederalreserve.com/ ?

[2021-11-10 20:38] lindsaymatcham commented on #104
I'm staking my ersdl on the platform and I have unersdl in my coinbase wallet as proof of that.  I staked back in May.  However when I connect my coinbase wallet to the website there are no balances on the website

[2021-11-10 20:39] lindsaymatcham commented on #104
I thought I staked on the first link? What is the difference between links?

[2021-11-10 20:59] lindsaymatcham commented on #104
I staked on the first link

[2021-11-11 14:01] hskainth commented on #100
@kontrapunkt88807 did this work for you?

[2021-11-11 14:25] earthcallingmoon commented on #100
No, funds still locked on platform cause of bug

Sent from my iPhone

[2021-11-11 14:28] hskainth commented on #100
@earthcallingmoon the above question was for @kontrapunkt88807 , we will update shortly to your ticket 102.

[2021-11-11 19:03] lindsaymatcham commented on #104
Any luck?

[2021-11-12 00:47] hskainth commented on #101
@interl0per2 does this now work for you?

[2021-11-12 01:28] interl0per2 commented on #101
Yes. I was able to withdraw a couple weeks ago. Thanks!

[2021-11-12 01:31] hskainth commented on #101
Closing issue as resolved.

[2021-11-12 01:31] #101 closed, assigned to nobody

[2021-11-12 09:07] lindsaymatcham commented on #104
Hello?

[2021-11-12 11:44] hskainth commented on #104
@lindsaymatcham we are looking into your query and will update after investigation.

[2021-11-12 11:48] hskainth commented on #104
@lindsaymatcham could you please try the below -

1.  Open https://etherscan.io/address/0xe4cc5a22b39ffb0a56d67f94f9300db20d786a5f#writeProxyContract
2.  Click connect to Web3, connect the wallet
3.  Choose redeem function
4.  Enter 30801362773513
5.  Click redeem
6.  Click write
7.  Approve the transaction in metamask

![141164347-60c3370d-dd74-4e3a-a26c-fb2fb91f16ff](https://user-images.githubus

[2021-11-12 12:10] lindsaymatcham commented on #104
Doesn't seem to be an option to connect coinbase wallet? Loads of wallets there but not coinbase

[2021-11-12 13:02] hskainth commented on #102
Internal issue 1723 raised to investigate.

[2021-11-15 14:12] lindsaymatcham commented on #104
Thoughts?

[2021-11-16 05:13] lindsaymatcham commented on #104
Need an answer on this please

[2021-11-19 15:55] lindsaymatcham commented on #104
Guys. Can someone please get back to me?

[2021-11-22 19:36] hskainth commented on #102
@earthcallingmoon do you still see same issue on the new site https://app.unfederalreserve.com/ ?

[2021-11-22 19:37] hskainth commented on #104
@lindsaymatcham could you please let me know if you still see this on the new site https://app.unfederalreserve.com/ ?

[2021-11-24 07:19] lindsaymatcham commented on #104
Hi mate it's working on mobile
Now thanks very much

[2021-11-24 07:19] lindsaymatcham commented on #104
Appreciate your help

[2021-11-24 13:22] hskainth commented on #104
Closing issue as resolved.

[2021-11-24 13:22] #104 closed, assigned to nobody

[2021-11-24 13:23] hskainth commented on #100
Closing issue as no response in almost 2weeks, assume this has been resolved.

[2021-11-24 13:23] #100 closed, assigned to kontrapunkt88807

[2021-11-28 23:13] mkm703 opened #105 "Unable to Unstake Legacy eRSDL Tokens"
**Describe the bug**
Recently, I finally decided to get my Legacy eRSDL tokens unstaked and restaked on the new contract.

First, I paid off the following outstanding Borrows I had through the platform:

~$8,300 in USDC loans (Tx: 0x6e7f89ab726a60410d4d6f1c736ab7fd0053db3bffa7901b314da10ca584ad6e)
~$225 in USDT loans (Tx: 0xaebcef9de8c62bac4148e37d6a1b969262677548e969d7bf95c8b0cd831c97ff
I even at

[2021-11-29 19:18] hskainth commented on #105
Internal issue 1839 opened for this to investigate.

[2021-11-30 23:01] hskainth commented on #105
@mkm703  please try a hard reset of the browser CTRL + SHIFT + R and try this again. This should work.

[2021-11-30 23:08] hskainth commented on #103
Closing issue as resolved.

[2021-11-30 23:08] #103 closed, assigned to nobody

[2021-11-30 23:14] jamesrilett commented on #103
Solved but still a loss of hundred of dollers in fees

Sent from my iPhone

[2021-12-03 01:58] jrkiger opened #106 "Can't access balances of farmed deposits"
In May, I went through the process of adding liquidity to my eRSDL and staked it on the old website in this section...
![image](https://user-images.githubusercontent.com/95455364/144531204-7bfcd675-9818-4202-b216-9355d66db941.png)

I have the tx hash numbers should you need.

Since depositing, actually seeing my deposit in the account has been hit and miss. I use a CoolWallet and have had issues w

[2021-12-03 11:46] hskainth commented on #106
@jrkiger do you have coolwallet S or cool wallet pro? Have you checked that the wallet is compatible with the latest version EIP if connecting via metamask as there have been updates since may to metamask.

[2021-12-03 12:10] jrkiger commented on #106
I have the Coolwallet's CoolBitX.
I don't use Metamask to connect, I've only used the WalletConnect
functionality.

On Fri, Dec 3, 2021, 22:46 Harinder ***@***.***> wrote:

[2021-12-09 01:20] hskainth commented on #106
@jrkiger are you still experiencing this?

[2021-12-09 01:21] hskainth commented on #102
Closing issue as no response for over 2 weeks.

[2021-12-09 01:21] #102 closed, assigned to nobody

[2021-12-09 01:23] jrkiger commented on #106
@hskainth Yes, I am. I cannot see any balances beyond the 2.9 eRSDL.

[2021-12-09 01:27] hskainth commented on #106
@jrkiger if you cannot also see this on https://lending.unfederalreserve.com/ also please provide wallet address and we can look into this.

[2021-12-09 01:29] jrkiger commented on #106
@hskainth I cannot see it there either.
the wallet address is 0x66D445E41394418Fda317C805F38648f1f0EEAB6

[2021-12-09 01:35] hskainth commented on #106
@jrkiger one final check please, could you let me know if you can see them on this link -

https://stake-old.unfederalreserve.com/

[2021-12-09 01:37] jrkiger commented on #106
@hskainth I cannot see them on that link either

[2021-12-09 01:45] hskainth commented on #106
Internal issue 1905 raised to investigate this.

[2021-12-10 00:00] hskainth commented on #106
@jrkiger From the screenshots it shows as locked which means you need to unlock the wallet. Try doing this directly on https://stake-old.unfederalreserve.com/farms/eRSDL-ETH%20UNI-V2%20LP

Alternatively, you can withdraw using etherscan -https://etherscan.io/address/0xf8377270af0c864d2b3bab73bb16c65b05767549#writeContract
12.withdraw
_pid = 13
_amount = 547720098494149442369

[2021-12-10 00:09] jrkiger commented on #106
@hskainth That is one of the problems. I have 'unlocked' the wallet, but it shows this every time.

I've never withdrawn using etherscan...
How do I know how much I am withdrawing? I don't know how much I have as a balance from all of the rewards and farming over the last 8 months.
Where is my wallet address to show that it is being withdrawn into my wallet?

[2021-12-10 00:18] hskainth commented on #106
@jrkiger

https://etherscan.io/address/0xf8377270af0c864d2b3bab73bb16c65b05767549#readContract
14. userInfo
pid = 13
addr = 0x66D445E41394418Fda317C805F38648f1f0EEAB6

It will return 2 values, first (amount) is what needs to be entered to the write function.

This will be withdrawn to the transaction sender.

[2021-12-10 00:30] jrkiger commented on #106
@hskainth
I'm sorry for all of the questions, but thank you for your patience :)

Is the first (amount) my initial deposit?
What is the second (rewardDebt) number for?

Now that I have that first (amount) number, is it just for my knowledge or do I go back to the 'WRITE' tab and use this to withdraw?

What was the 547720098494149442369 amount you sent to me before?

[2021-12-10 00:37] hskainth commented on #106
@jrkiger

I believe the second number is how much ersdl rewards will be received upon withdrawal. The 547720098494149442369 was just an example, please disregard.

Correct that needs to be entered in to the write function.

[2021-12-10 00:40] jrkiger commented on #106
@hskainth so when I withdraw, do I also need to withdraw the ersdl rewards as a separate transaction? which should i do first?

[2021-12-10 01:42] jrkiger commented on #106
@hskainth
Right oh. I have been able to withdraw everything. Many thanks for your help. You can close this ticket number.

[2021-12-10 01:44] hskainth commented on #106
Closing issue as fixed.

[2021-12-10 01:44] #106 closed, assigned to nobody

[2021-12-14 22:30] hskainth commented on #105
Closing issue as no response from user in 2 weeks, assume this has been resolved.

[2021-12-14 22:30] #105 closed, assigned to nobody

[2021-12-16 05:34] JackTeague opened #107 "Center-align/justify the content in the 'Partners and Affiliates' section on the landing page."
This is a minor design suggestion for changing the layout of the content in the 'Partners and Affiliates' section on the landing page.
It makes more sense and is a lot more readable to center align/justify the subheadings (Class ID 'partner-item__title') and the partner logos (Class ID 'partner-item__logos').

Here is what it looks like at the moment:
![image](https://user-images.githubusercontent

[2021-12-22 15:59] hskainth commented on #107
@JackTeague thanks for the suggestion we will forward your feedback on to the design team.

[2021-12-22 15:59] #107 closed, assigned to nobody

[2022-01-09 21:45] nebreg1709 opened #108 "My account started liquidating while being round 80%"
On january 5th i noticed that my lending percentage (borrow) on unfed was nearing the 90%. Of course i don't want that so i payed 5K off and got my borrow percentage back to around 80%. So i thought it was all good.

The next day, when i logged in on unfed, i noticed that my balance of almost 1,1 mln tokens (legacy ersdl because i was leveraged i could not unstake/stake again) was down to about 60

[2022-01-11 03:11] hskainth commented on #108
Looking into the above will provide update once complete.

[2022-01-11 10:49] triamazikamno commented on #108
Hi,
This is the liquidation transaction(performed by a 3rd party bot not affiliated with unfed): https://etherscan.io/tx/0xb2442caf53a6670ab69593bb2dede81ca74e027b02f315afee29b93e1a015aec

I've run it through the debugger and I can see that your account had $39893.5217 worth of collateral and $40007.6327 worth of debt at the block 13950081, which corresponds to the rate of 100.28%. Price of ersdl

[2022-01-11 11:50] hskainth commented on #108
Closing issue as per above clarification.

[2022-01-11 11:50] #108 closed, assigned to nobody